In [1]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\06-07.2025_рынок.xlsx")

In [49]:
df2 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\05-06.2025_рынок+квартирогр_актуал.xlsx", sheet_name = 'массив')

In [80]:
df = df[df['Дата обновления'].dt.month == 7]

In [27]:
df['Срок сдачи'] = np.nan
df['Стадия строительной готовности'] = np.nan

In [72]:
print(df['Корпус'].isna().sum())

0

In [73]:
print(df2['Корпус'].isna().sum())

0

In [43]:
print(df_new['Корпус'].isna().sum())

0

In [74]:
df['Корпус'] = df['Корпус'].astype(str)

# Выделим текст в скобках
bracket_content = df['Корпус'].str.extract(r'\((.*?)\)', expand=False)

# Маска: строка содержит скобки
has_brackets = df['Корпус'].str.contains(r'\(.*?\)', na=False)

# Маска: в строке есть слово "очередь" где угодно (внутри или снаружи скобок)
contains_ochered = df['Корпус'].str.contains(r'очередь', case=False, na=False)

# Маска: есть скобки, но НЕТ "очередь" вообще
mask = has_brackets & ~contains_ochered

# Заменяем только те строки, которые соответствуют маске
df.loc[mask, 'Корпус'] = bracket_content[mask].str.strip()

In [75]:
df2['Корпус'] = df2['Корпус'].astype(str)

# Выделим текст в скобках
bracket_content = df2['Корпус'].str.extract(r'\((.*?)\)', expand=False)

# Маска: строка содержит скобки
has_brackets = df2['Корпус'].str.contains(r'\(.*?\)', na=False)

# Маска: в строке есть слово "очередь" где угодно (внутри или снаружи скобок)
contains_ochered = df2['Корпус'].str.contains(r'очередь', case=False, na=False)

# Маска: есть скобки, но НЕТ "очередь" вообще
mask = has_brackets & ~contains_ochered

# Заменяем только те строки, которые соответствуют маске
df2.loc[mask, 'Корпус'] = bracket_content[mask].str.strip()

In [37]:
df['Корпус'] = df['Корпус'].astype(str)
df2['Корпус'] = df2['Корпус'].astype(str)

In [76]:
df2.columns = df2.columns.str.capitalize().str.strip()

In [81]:
df_new = pd.concat([df2, df], ignore_index=True)

In [83]:
df_new = df_new[df_new['Дата обновления'].dt.month.isin([6, 7])]

In [69]:
df2[df2['Название проекта'] == 'Внуково Парк']['Корпус'].unique()

array(['1'], dtype=object)

In [70]:
df[df['Название проекта'] == 'Внуково Парк']['Корпус'].unique()

array(['1'], dtype=object)

In [25]:
columns_list = df.columns.tolist()

In [84]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 214142 entries, 107985 to 323277
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 214142 non-null  datetime64[ns]
 1   Название проекта                214142 non-null  object
 2   На англ                         45383 non-null   object
 3   Промзона                        80894 non-null   object
 4   Местоположение                  213315 non-null  object
 5   Метро                           151431 non-null  object
 6   Расстояние до метро, км         147966 non-null  object
 7   Время до метро, мин             146453 non-null  object
 8   Мцк/мцд/бкл                     183966 non-null  object
 9   Расстояние до мцк/мцд, км       183021 non-null  object
 10  Время до мцк/мцд, мин           177775 non-null  object
 11  Бкл                             76395 non-null   object
 12  Расстояние до бкл, км           76304 non-null   object
 13  Время до бкл, мин               76304 non-null   object
 14  Статус                          213331 non-null  object
 15  Старт                           30786 non-null   object
 16  Комментарий                     29854 non-null   object
 17  Девелопер                       214140 non-null  object
 18  Округ                           213305 non-null  object
 19  Район                           209952 non-null  object
 20  Адрес                           209987 non-null  object
 21  Эскроу                          203778 non-null  object
 22  Корпус                          214142 non-null  object
 23  Конструктив                     212176 non-null  object
 24  Класс                           213315 non-null  object
 25  Срок сдачи                      210621 non-null  object
 26  Старый срок сдачи               27402 non-null   object
 27  Стадия строительной готовности  210621 non-null  object
 28  Договор                         213315 non-null  object
 29  Тип помещения                   214042 non-null  object
 30  Отделка                         213612 non-null  object
 31  Кол-во комнат                   214142 non-null  object
 32  Площадь, кв.м                   214140 non-null  float64
 33  Цена кв.м, руб.                 12059 non-null   float64
 34  Цена лота, руб.                 212880 non-null  object
 35  Скидка,%                        10948 non-null   object
 36  Цена кв.м со ск, руб.           55945 non-null   float64
 37  Цена со скидкой, руб.           144294 non-null  object
dtypes: datetime64[ns](1), float64(3), object(34)
memory usage: 63.7+ MB

In [7]:
df_dist = pd.read_excel(r'C:\Users\m.olshanskiy\Desktop\05-06.2025_рынок+квартирогр_актуал_метро.xlsx', sheet_name='метро')

In [14]:
df_dist

,Название проекта,Метро,"Расстояние до метро, км","Время до метро, мин",МЦК/МЦД/БКЛ,"Расстояние до МЦК/МЦД, км","Время до МЦК/МЦД, мин"
0,"15-я Парковая ул., д. 27/1",Первомайская,1.420,17.040,NaN,NaN,NaN
1,"16-я Парковая ул., д. 12",Первомайская,2.090,25.080,NaN,NaN,NaN
2,1864 Резиденция,Третьяковская,0.920,11.040,NaN,NaN,NaN
3,1-й Лермонтовский,NaN,NaN,NaN,Люберцы,1.65,19.8
4,"1-й Пехотный пер., д. 2",Щукинская,1.350,16.200,NaN,NaN,NaN
...,...,...,...,...,...,...,...
147,"Шереметьевская ул., д. 5",Марьина Роща,0.200,2.400,NaN,NaN,NaN
148,"Щелковское ш., д. 71",Щелковская,0.199,2.388,NaN,NaN,NaN
149,"Щелковское ш., д. 74",Щелковская,0.230,2.760,NaN,NaN,NaN
150,"Щелковское ш., д. 90",Щелковская,1.420,17.040,NaN,NaN,NaN
151,Южная Битца,NaN,NaN,NaN,Бутово,3.30,39.6

In [9]:
df_dist[df_dist['Название проекта'] == 'Акценты']

,Название проекта,Метро,"Расстояние до метро, км","Время до метро, мин"
30,Акценты,Лианозово_МЦД,1.13,13.56

In [10]:
df_dist['МЦК/МЦД/БКЛ'] = np.nan
df_dist['Расстояние до МЦК/МЦД, км'] = np.nan
df_dist['Время до МЦК/МЦД, мин'] = np.nan

In [11]:
mask = df_dist['Метро'].str.contains('МЦД', na = False)

In [12]:
df_dist.loc[mask, 'МЦК/МЦД/БКЛ'] = df_dist.loc[mask, 'Метро']
df_dist.loc[mask, 'Метро'] = np.nan
df_dist.loc[mask, 'Расстояние до МЦК/МЦД, км'] = df_dist.loc[mask, 'Расстояние до метро, км']
df_dist.loc[mask, 'Расстояние до метро, км'] = np.nan
df_dist.loc[mask, 'Время до МЦК/МЦД, мин'] = df_dist.loc[mask, 'Время до метро, мин']
df_dist.loc[mask, 'Время до метро, мин'] = np.nan

C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_5208\2782570811.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Люберцы_МЦД' 'Опалиха_МЦД' 'Ильинская_МЦД' 'Сетунь_МЦД' 'Лианозово_МЦД'
 'Левобережная_МЦД' 'Марьина роща_МЦД' 'Пенягино_МЦД' 'Водники_МЦД'
 'Бутово_МЦД' 'Толстопальцево_МЦД' 'Люберцы-1_МЦД' 'Ильинская_МЦД'
 'Раменское_МЦД' 'Томилино_МЦД' 'Купчино_МЦД' 'Платформа Курьяново_МЦД'
 'Грачевская_МЦД' 'Люблино_МЦД' 'Петровско-Разумовская_МЦД'
 'Бульвар Рокоссовского_МЦД' 'Люблино_МЦД' 'Перерва_МЦД' 'Перерва_МЦД'
 'Немчиновка_МЦД' 'Калитники_МЦД' 'Калитники_МЦД' 'Панки_МЦД'
 'Силикатная_МЦД' 'Переделкино_МЦД' 'Грачевская_МЦД' 'Одинцово_МЦД'
 'Люблино_МЦД' 'Андроновка_МЦД' 'Сходня_МЦД' 'Покровское_МЦД'
 'Москва-Товарная_МЦД' 'Бутово_МЦД']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_dist.loc[mask, 'МЦК/МЦД/БКЛ'] = df_dist.loc[mask, 'Метро']

In [13]:
df_dist['МЦК/МЦД/БКЛ'] = df_dist['МЦК/МЦД/БКЛ'].str.replace('_МЦД', '')

In [22]:
merged = df.merge(
    df_dist,
    on='Название проекта',
    how='left',
    suffixes=('_old', '_new')
)

In [23]:
# Обновляем metro_station, только если в projects не NaN
merged['Метро'] = np.where(
    merged['Метро_new'].notna(),  # Условие: "если в projects есть данные"
    merged['Метро_new'],          # Берём новое значение
    merged['Метро_old']           # Иначе оставляем старое
)

# Аналогично для travel_time
merged['Расстояние до метро, км'] = np.where(
    merged['Расстояние до метро, км_new'].notna(),
    merged['Расстояние до метро, км_new'],
    merged['Расстояние до метро, км_old']
)

merged['Время до метро, мин'] = np.where(
    merged['Время до метро, мин_new'].notna(),
    merged['Время до метро, мин_new'],
    merged['Время до метро, мин_old']
)

merged['МЦК/МЦД/БКЛ'] = np.where(
    merged['МЦК/МЦД/БКЛ_new'].notna(),
    merged['МЦК/МЦД/БКЛ_new'],
    merged['МЦК/МЦД/БКЛ_old']
)

merged['Расстояние до МЦК/МЦД, км'] = np.where(
    merged['Расстояние до МЦК/МЦД, км_new'].notna(),
    merged['Расстояние до МЦК/МЦД, км_new'],
    merged['Расстояние до МЦК/МЦД, км_old']
)

merged['Время до МЦК/МЦД, мин'] = np.where(
    merged['Время до МЦК/МЦД, мин_new'].notna(),
    merged['Время до МЦК/МЦД, мин_new'],
    merged['Время до МЦК/МЦД, мин_old']
)

# Убираем вспомогательные столбцы
flats_updated = merged.drop(['Метро_new', 'Метро_old', 'Расстояние до метро, км_new', 'Расстояние до метро, км_old', 'Время до метро, мин_new', 'Время до метро, мин_old', 'МЦК/МЦД/БКЛ_old', 'МЦК/МЦД/БКЛ_new', 'Время до МЦК/МЦД, мин_new', 'Время до МЦК/МЦД, мин_old', 'Расстояние до МЦК/МЦД, км_old', 'Расстояние до МЦК/МЦД, км_new'], axis=1)

In [26]:
flats_updated = flats_updated[columns_list]
flats_updated

,Дата обновления,Название проекта,на англ,промзона,Местоположение,Метро,"Расстояние до метро, км","Время до метро, мин",МЦК/МЦД/БКЛ,"Расстояние до МЦК/МЦД, км",...,Договор,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена кв.м, руб.","Цена лота, руб.","Скидка,%","Цена кв.м со ск, руб.","Цена со скидкой, руб."
0,2025-05-01,1-й Донской,NaN,свободный земельный участок,МО ближ.,нет,нет,нет,Калинина,2.36,...,ДКП,Квартиры,Предчистовая,4е,84.30,NaN,20223570,27,175126.998814,14763206
1,2025-05-01,1-й Донской,NaN,свободный земельный участок,МО ближ.,нет,нет,нет,Калинина,2.36,...,ДКП,Квартиры,Предчистовая,4е,84.30,NaN,21488070,27,186076.998814,15686291
2,2025-05-01,1-й Донской,NaN,свободный земельный участок,МО ближ.,нет,нет,нет,Калинина,2.36,...,ДКП,Квартиры,Предчистовая,4е,84.30,NaN,20265720,27,175492.004745,14793976
3,2025-05-01,1-й Донской,NaN,свободный земельный участок,МО ближ.,нет,нет,нет,Калинина,2.36,...,ДКП,Квартиры,Предчистовая,4е,84.30,NaN,20223570,27,175126.998814,14763206
4,2025-05-01,1-й Донской,NaN,свободный земельный участок,МО ближ.,нет,нет,нет,Калинина,2.36,...,ДКП,Квартиры,Предчистовая,4е,84.30,NaN,20265720,27,175492.004745,14793976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217776,2025-06-01,Высокий берег,NaN,свободный земельный участок,МО ближ.,NaN,NaN,NaN,NaN,NaN,...,ДКП,Квартиры,Без отделки,3,77.90,NaN,NaN,NaN,NaN,12417260
217777,2025-06-01,Высокий берег,NaN,свободный земельный участок,МО ближ.,NaN,NaN,NaN,NaN,NaN,...,ДКП,Квартиры,Без отделки,3,80.50,NaN,NaN,NaN,NaN,12831700
217778,2025-06-01,Высокий берег,NaN,свободный земельный участок,МО ближ.,NaN,NaN,NaN,NaN,NaN,...,ДКП,Квартиры,Без отделки,3,80.50,NaN,NaN,NaN,NaN,12203800
217779,2025-06-01,Высокий берег,NaN,свободный земельный участок,МО ближ.,NaN,NaN,NaN,NaN,NaN,...,ДКП,Квартиры,Без отделки,3,80.60,NaN,NaN,NaN,NaN,12218960
217780,2025-06-01,Высокий берег,NaN,свободный земельный участок,МО ближ.,NaN,NaN,NaN,NaN,NaN,...,ДКП,Квартиры,Без отделки,3,80.85,NaN,NaN,NaN,NaN,12256860

In [27]:
flats_updated['Дата обновления'] = pd.to_datetime(flats_updated['Дата обновления'], errors='coerce')

In [32]:
columns_to_clean = [
    'Расстояние до метро, км',
    'Время до метро, мин',
    'Расстояние до МЦК/МЦД, км',
    'Время до МЦК/МЦД, мин',
    'Расстояние до БКЛ, км',
    'Время до БКЛ, мин'
]

for col in columns_to_clean:
    flats_updated[col] = (
        flats_updated[col]
        .astype(str)
        .str.replace(r'[^\d.,]', '', regex=True)
        .str.replace(',', '.', regex=False)
        .replace('', np.nan)
        .astype(float)
    )

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214079 entries, 0 to 214078
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 214079 non-null  datetime64[ns]
 1   Название проекта                214079 non-null  object
 2   На англ                         45383 non-null   object
 3   Промзона                        80826 non-null   object
 4   Местоположение                  213252 non-null  object
 5   Метро                           155118 non-null  object
 6   Расстояние до метро, км         133436 non-null  object
 7   Время до метро, мин             132298 non-null  object
 8   Мцк/мцд/бкл                     185167 non-null  object
 9   Расстояние до мцк/мцд, км       144106 non-null  float64
 10  Время до мцк/мцд, мин           160645 non-null  float64
 11  Бкл                             76327 non-null   object
 12  Расстояние до бкл, км           19551 non-null   object
 13  Время до бкл, мин               19551 non-null   object
 14  Статус                          213268 non-null  object
 15  Старт                           30786 non-null   object
 16  Комментарий                     29786 non-null   object
 17  Девелопер                       214077 non-null  object
 18  Округ                           213242 non-null  object
 19  Район                           209889 non-null  object
 20  Адрес                           209924 non-null  object
 21  Эскроу                          203715 non-null  object
 22  Корпус                          212788 non-null  object
 23  Конструктив                     212113 non-null  object
 24  Класс                           213250 non-null  object
 25  Срок сдачи                      207306 non-null  object
 26  Старый срок сдачи               27459 non-null   object
 27  Стадия строительной готовности  207306 non-null  object
 28  Договор                         213252 non-null  object
 29  Тип помещения                   213979 non-null  object
 30  Отделка                         213549 non-null  object
 31  Кол-во комнат                   214079 non-null  object
 32  Площадь, кв.м                   214077 non-null  float64
 33  Цена кв.м, руб.                 12059 non-null   float64
 34  Цена лота, руб.                 212817 non-null  float64
 35  Скидка,%                        10948 non-null   float64
 36  Цена кв.м со ск, руб.           55945 non-null   float64
 37  Цена со скидкой, руб.           143843 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(29)
memory usage: 62.1+ MB

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214079 entries, 0 to 214078
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 214079 non-null  datetime64[ns]
 1   Название проекта                214079 non-null  object
 2   На англ                         45383 non-null   object
 3   Промзона                        80826 non-null   object
 4   Местоположение                  213252 non-null  object
 5   Метро                           155121 non-null  object
 6   Расстояние до метро, км         133439 non-null  object
 7   Время до метро, мин             132301 non-null  object
 8   Мцк/мцд/бкл                     185167 non-null  object
 9   Расстояние до мцк/мцд, км       144106 non-null  float64
 10  Время до мцк/мцд, мин           160645 non-null  float64
 11  Бкл                             76327 non-null   object
 12  Расстояние до бкл, км           19551 non-null   object
 13  Время до бкл, мин               19551 non-null   object
 14  Статус                          213268 non-null  object
 15  Старт                           30786 non-null   object
 16  Комментарий                     29786 non-null   object
 17  Девелопер                       214077 non-null  object
 18  Округ                           213242 non-null  object
 19  Район                           209889 non-null  object
 20  Адрес                           209924 non-null  object
 21  Эскроу                          203715 non-null  object
 22  Корпус                          214079 non-null  object
 23  Конструктив                     212113 non-null  object
 24  Класс                           213252 non-null  object
 25  Срок сдачи                      208644 non-null  object
 26  Старый срок сдачи               27636 non-null   object
 27  Стадия строительной готовности  208644 non-null  object
 28  Договор                         213252 non-null  object
 29  Тип помещения                   213979 non-null  object
 30  Отделка                         213549 non-null  object
 31  Кол-во комнат                   214079 non-null  object
 32  Площадь, кв.м                   214077 non-null  float64
 33  Цена кв.м, руб.                 12059 non-null   float64
 34  Цена лота, руб.                 212817 non-null  float64
 35  Скидка,%                        10948 non-null   float64
 36  Цена кв.м со ск, руб.           55945 non-null   float64
 37  Цена со скидкой, руб.           143843 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(29)
memory usage: 62.1+ MB

In [56]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 323454 entries, 0 to 323453
Data columns (total 48 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 323454 non-null  datetime64[ns]
 1   Название проекта                323454 non-null  object
 2   на англ                         47293 non-null   object
 3   промзона                        80672 non-null   object
 4   Местоположение                  322627 non-null  object
 5   Метро                           226562 non-null  object
 6   Расстояние до метро, км         221258 non-null  object
 7   Время до метро, мин             219234 non-null  object
 8   МЦК/МЦД/БКЛ                     186363 non-null  object
 9   Расстояние до МЦК/МЦД, км       185356 non-null  object
 10  Время до МЦК/МЦД, мин           179699 non-null  object
 11  БКЛ                             77389 non-null   object
 12  Расстояние до БКЛ, км           77262 non-null   object
 13  Время до БКЛ, мин               77262 non-null   object
 14  статус                          217781 non-null  object
 15  старт                           31234 non-null   object
 16  Комментарий                     44748 non-null   object
 17  Девелопер                       323452 non-null  object
 18  Округ                           322617 non-null  object
 19  Район                           317687 non-null  object
 20  Адрес                           316909 non-null  object
 21  Эскроу                          309572 non-null  object
 22  Корпус                          323454 non-null  object
 23  Конструктив                     321488 non-null  object
 24  Класс                           322627 non-null  object
 25  Срок сдачи                      313531 non-null  object
 26  Старый срок сдачи               38642 non-null   object
 27  Стадия строительной готовности  313531 non-null  object
 28  Договор                         322627 non-null  object
 29  Тип помещения                   323354 non-null  object
 30  Отделка                         322924 non-null  object
 31  Кол-во комнат                   323454 non-null  object
 32  Площадь, кв.м                   323452 non-null  float64
 33  Цена кв.м, руб.                 23513 non-null   float64
 34  Цена лота, руб.                 322026 non-null  object
 35  Скидка,%                        22812 non-null   object
 36  Цена кв.м со ск, руб.           115838 non-null  float64
 37  Цена со скидкой, руб.           253218 non-null  object
 38  На англ                         22199 non-null   object
 39  Промзона                        40463 non-null   object
 40  Мцк/мцд/бкл                     91824 non-null   object
 41  Расстояние до мцк/мцд, км       71810 non-null   float64
 42  Время до мцк/мцд, мин           80006 non-null   float64
 43  Бкл                             37373 non-null   object
 44  Расстояние до бкл, км           9776 non-null    object
 45  Время до бкл, мин               9776 non-null    object
 46  Статус                          104864 non-null  object
 47  Старт                           15261 non-null   object
dtypes: datetime64[ns](1), float64(5), object(42)
memory usage: 120.9+ MB

In [34]:
flats_updated.to_excel(r'C:\Users\m.olshanskiy\Desktop\Копия 05-06.2025_рынок+квартирогр_актуал_метро_filled.xlsx', index=False)

In [35]:
df = flats_updated

In [36]:
df_new = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\База Июль\Июль_fixed.xlsx")

In [49]:
df = pd.concat([df, df_new], ignore_index=True)

In [41]:
df_new['Дата обновления'] = pd.to_datetime(df_new['Дата обновления'], errors='coerce')

In [156]:
df2["Корпус"] = (
     df2["Корпус"]
     .astype(str)  # приводим всё к строкам
     .str.replace(r'(?i)\bкорпус\b\.?\s*', '', regex=True)  # удаляем "корпус"
     .str.strip()  # убираем лишние пробелы
     .replace(['', '-', 'nan', 'NaN'], '1')  # заменяем пустые строки и текстовые NaN на "1"
)

In [154]:
df2["Название проекта"] = df2["Название проекта"].str.strip()
df2["Девелопер"] = df2["Девелопер"].str.strip()

In [82]:
# Столбцы, в которых нужно заполнить пропуски
columns_to_fill = ['На англ',
 'Промзона',
 'Местоположение',
 'Метро',
 'Расстояние до метро, км',
 'Время до метро, мин',
 'Мцк/мцд/бкл',
 'Расстояние до мцк/мцд, км',
 'Время до мцк/мцд, мин',
 'Бкл',
 'Расстояние до бкл, км',
 'Время до бкл, мин',
 'Статус',
 'Старт',
 'Комментарий',
 'Округ',
 'Район',
 'Адрес',
 'Эскроу',
 'Конструктив',
 'Класс',
 'Договор']

columns_to_fill_by_corpus = ['Срок сдачи', 'Стадия строительной готовности', 'Старый срок сдачи']

df_new = df_new.sort_values(by=[])
df_new = df_new.sort_values(by=['Дата обновления', 'Название проекта', 'Девелопер', 'Корпус'])


# Группируем по названию проекта и заполняем только нужные столбцы
for col in columns_to_fill:
    df_new[col] = df_new.groupby(['Название проекта', 'Девелопер'])[col].ffill()

for col in columns_to_fill_by_corpus:
    df_new[col] = df_new.groupby(['Название проекта', 'Девелопер', 'Корпус'])[col].ffill()

In [53]:
filtered_df = df[df['Дата обновления'].dt.month.isin([6, 7])]

In [85]:
df_new.to_excel(r'C:\Users\m.olshanskiy\Desktop\06-07.2025_рынок_после обеда.xlsx', index=False)

In [60]:
# Условие: если Метро == NaN или 'нет'
mask = df['Метро'].isna() | (df['Метро'].str.lower() == 'нет')

# Присваиваем значения 'нет' нужным столбцам
df.loc[mask, ['Расстояние до метро, км', 'Время до метро, мин']] = 'нет'

In [61]:
# Условие: если Метро == NaN или 'нет'
mask = df['Мцк/мцд/бкл'].isna() | (df['Мцк/мцд/бкл'].str.lower() == 'нет')

# Присваиваем значения 'нет' нужным столбцам
df.loc[mask, ['Расстояние до мцк/мцд, км', 'Время до мцк/мцд, мин']] = 'нет'

C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_5208\3861976707.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'нет' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask, ['Расстояние до мцк/мцд, км', 'Время до мцк/мцд, мин']] = 'нет'
C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_5208\3861976707.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'нет' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[mask, ['Расстояние до мцк/мцд, км', 'Время до мцк/мцд, мин']] = 'нет'

In [62]:
# Условие: если Метро == NaN или 'нет'
mask = df['Бкл'].isna() | (df['Бкл'].str.lower() == 'нет')

# Присваиваем значения 'нет' нужным столбцам
df.loc[mask, ['Расстояние до бкл, км', 'Время до бкл, мин']] = 'нет'

In [68]:
df['Кол-во комнат'] = df['Кол-во комнат'].astype(str)

In [58]:
df2['Корпус'] = df2['Корпус'].astype(str)

In [15]:
print(df2['Корпус'].isna().sum())

0

In [71]:
# 1. Удаляем текст 'Жилой дом № ' (всё равно на NaN это не повлияет)
df['Корпус'] = df['Корпус'].replace('Жилой дом № ', '', regex=True)

# Заменяем строку 'nan' и пустые строки на np.nan
df['Корпус'] = df['Корпус'].replace(['nan', r'^\s*$'], np.nan, regex=True)

# 3. Заполняем NaN единицами
df['Корпус'] = df['Корпус'].fillna('1')

In [68]:
# 1. Удаляем текст 'Жилой дом № ' (всё равно на NaN это не повлияет)
df2['Корпус'] = df2['Корпус'].replace('Жилой дом № ', '', regex=True)

# Заменяем строку 'nan' и пустые строки на np.nan
df2['Корпус'] = df2['Корпус'].replace(['nan', r'^\s*$'], np.nan, regex=True)

# 3. Заполняем NaN единицами
df2['Корпус'] = df2['Корпус'].fillna('1')