In [2]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Новая папка (2)\База август_changed.xlsx")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102753 entries, 0 to 102752
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 102753 non-null  object
 1   Название проекта                102753 non-null  object
 2   На англ                         504 non-null     object
 3   Промзона                        0 non-null       float64
 4   Местоположение                  0 non-null       float64
 5   Метро                           0 non-null       float64
 6   Расстояние до метро, км         0 non-null       float64
 7   Время до метро, мин             0 non-null       float64
 8   МЦК/МЦД/БКЛ                     0 non-null       float64
 9   Расстояние до МЦК/МЦД, км       0 non-null       float64
 10  Время до МЦК/МЦД, мин           0 non-null       float64
 11  Бкл                             0 non-null       float64
 12  Расстояние до БКЛ, км           0 non-null       float64
 13  Время до БКЛ, мин               0 non-null       float64
 14  Статус                          8 non-null       object
 15  Старт                           0 non-null       float64
 16  Комментарий                     0 non-null       float64
 17  Девелопер                       102753 non-null  object
 18  Округ                           480 non-null     object
 19  Район                           0 non-null       float64
 20  Адрес                           9156 non-null    object
 21  Эскроу                          0 non-null       float64
 22  Корпус                          102751 non-null  object
 23  Конструктив                     0 non-null       float64
 24  Класс                           0 non-null       float64
 25  Срок сдачи                      24575 non-null   object
 26  Старый срок сдачи               0 non-null       float64
 27  Стадия строительной готовности  0 non-null       float64
 28  Договор                         0 non-null       float64
 29  Тип помещения                   102753 non-null  object
 30  Отделка                         102278 non-null  object
 31  Кол-во комнат                   102156 non-null  object
 32  Площадь, кв.м                   102216 non-null  float64
 33  Цена кв.м, руб.                 666 non-null     float64
 34  Цена лота, руб.                 99563 non-null   object
 35  Скидка,%                        355 non-null     float64
 36  Цена кв.м со ск, руб.           52 non-null      float64
 37  Цена со скидкой, руб.           57681 non-null   object
dtypes: float64(24), object(14)
memory usage: 29.8+ MB

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 105881 entries, 0 to 105885
Data columns (total 41 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Дата обновления                 105881 non-null  object
 1   Название проекта                105881 non-null  object
 2   На англ                         148 non-null     object
 3   Промзона                        0 non-null       float64
 4   Местоположение                  0 non-null       float64
 5   Метро                           0 non-null       float64
 6   Расстояние до метро, км         0 non-null       float64
 7   Время до метро, мин             0 non-null       float64
 8   Мцк/мцд/бкл                     0 non-null       float64
 9   Расстояние до мцк/мцд, км       0 non-null       float64
 10  Время до мцк/мцд, мин           0 non-null       float64
 11  Бкл                             0 non-null       float64
 12  Расстояние до бкл, км           0 non-null       float64
 13  Время до бкл, мин               0 non-null       float64
 14  Статус                          29 non-null      object
 15  Старт                           0 non-null       float64
 16  Комментарий                     0 non-null       float64
 17  Девелопер                       105881 non-null  object
 18  Округ                           453 non-null     object
 19  Район                           0 non-null       float64
 20  Адрес                           10015 non-null   object
 21  Эскроу                          0 non-null       float64
 22  Корпус                          104449 non-null  object
 23  Конструктив                     0 non-null       float64
 24  Класс                           0 non-null       float64
 25  Срок сдачи                      0 non-null       float64
 26  Старый срок сдачи               0 non-null       float64
 27  Стадия строительной готовности  0 non-null       float64
 28  Договор                         0 non-null       float64
 29  Тип помещения                   105783 non-null  object
 30  Отделка                         105353 non-null  object
 31  Кол-во комнат                   105271 non-null  object
 32  Площадь, кв.м                   105881 non-null  float64
 33  Цена кв.м, руб.                 390 non-null     float64
 34  Цена лота, руб.                 105880 non-null  float64
 35  Скидка,%                        378 non-null     float64
 36  Цена кв.м со ск, руб.           60 non-null      float64
 37  Цена со скидкой, руб.           35647 non-null   float64
 38  Секция                          60679 non-null   object
 39  Этаж                            104926 non-null  object
 40  Номер                           11387 non-null   object
dtypes: float64(27), object(14)
memory usage: 33.9+ MB

In [17]:
df.columns = df.columns.str.capitalize().str.strip()

In [18]:
df = df.rename(columns={'Цена лота со ск, руб.': 'Цена со скидкой, руб.'})

In [19]:
заменяемые_значения_опции = [
    'С отделкой, кухней и мебелью', 'С отделкой и мебелью',
    'С отделкой, кухней и техникой', 'С отделкой, мебелью и кухней',
    'С отделкой и кухней', 'C отделкой и мебелью',
    'С отделкой,мебель и техника', 'С отделкой,кухня,мебель',
    'С отделкой и доп.опциями', 'С отделкой, мебелью и техникой', 
    'С отделкой, кухнеи и мебелью', 'С отделкой и  кухней', 
    'С отделкой и кухня', 'С отделкой,кухня', 'С отделкой, сантехникой',
    'С отделкой с кухней и мебелью в ванной', 'С отделкой и кухней и мебелью в ванной',
    'С отделкой и мебелировкой', 'С отделкой,мебель',
    'С отделкой и мебель', 'С отделкой,кухня и техника', 
    'С отделкой, кухней и мбелью', 'С отделкой и кухней,мебель', 
    'С отделкой,кухня,шкафы', 'С мебелью', 'С мебелью и кухней',
    'С отделкой ,мебель', 'С отделкой,кухня и мебель', 'С отделкой мебель',
    'С отделкой,кухня,техника', 'С оделкой, кухней и техникой',
    'С отделкой и кухней без техники', 'С отделкой,кухней и техникой',
    'С отделкой,мебель,техника', 'С отделкой (мебель и техника)', 
    'С отделкой и сантехникой',
]

заменяемые_значения_отделка = {'С отделкой,машиноместо' : 'С отделкой',
       'Предчистовая,машиноместо' : 'Предчистовая',
        'Без отделки,машиноместо' : 'Без отделки',
       'Предчистовая и м/м' : 'Предчистовая', 
        'С отделкой и м/м' : 'С отделкой',
        'Чистовая' : 'С отделкой',
       'Без отделки, м/м входит' : 'Без отделки',
        'без отделки' : 'Без отделки',
        'с отделкой' : 'С отделкой',
        'Без отделкт' : 'Без отделки',
        'Сотделкой' : 'С отделкой'  ,
        'Предчистова' : 'Предчистовая',
        'Отделка' : 'С отделкой',
        'Нет' : 'Без отделки',
        'Сотделкой' : 'С отделкой',
        'White box' : 'Предчистовая',
        'С террасой' : 'Без отделки',
        'Предчистовая отделка' : 'Предчистовая',
        'Чистовая отделка' : 'С отделкой',
        'Черновая' : 'Предчистовая',
        'Двухуровневая квартира' : 'Без отделки'
                               
                               
                               
    
                             }




df['Отделка'] = df['Отделка'].str.strip().str.capitalize()
df['Отделка'] = df['Отделка'].replace(заменяемые_значения_опции, 'С отделкой и доп. опциями')
df["Отделка"] = df["Отделка"].replace(заменяемые_значения_отделка)

In [20]:
df['Отделка'].unique()

array(['Без отделки', 'С отделкой', 'Предчистовая',
       'С отделкой и доп опциями', nan, 'Не удалось определить',
       'Комфорт', 'Uniloft', 'Unibox', 'Unidesign'], dtype=object)

In [21]:
df['Тип помещения'] = df['Тип помещения'].str.strip().str.capitalize().replace('Квартира', 'Квартиры')
df['Тип помещения'] = df['Тип помещения'].str.strip().str.capitalize().replace('Аппартаменты', 'Апартаменты').replace('Апартамент', 'Апартаменты')

In [23]:
df['Тип помещения'].unique()

array(['Квартиры', 'Апартаменты', "<class 'type'>", 'Пентхаусы',
       'Таунхаусы', 'Резиденция', 'Вилла', 'Ситихаус', 'Сити-хаус',
       'Коттеджи'], dtype=object)

In [13]:
df = df[df['Цена лота, руб.'] != 0]

In [66]:
mask = df['Цена со скидкой, руб.'] == df['Цена лота, руб.']

In [67]:
df.loc[mask, 'Цена со скидкой, руб.'] = np.nan

In [22]:
заменяемые_значения_тип = {'Penthouse' : 'Пентхаусы',
       'Таунхаус' : 'Таунхаусы',
        'Аппартаменты' : 'Апартаменты',
       'Апартамент' : 'Апартаменты',
        'Коттедж' : 'Коттеджи',
        'High level' : 'Квартиры'
                               
                               
    
                             }

df['Тип помещения'] = df['Тип помещения'].replace(заменяемые_значения_тип)

In [74]:
df['Срок сдачи'] = np.nan

In [76]:
df.to_excel(r"C:\Users\m.olshanskiy\Desktop\База Июль\Июль_fixed.xlsx", index=False)