In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
pd.set_option('display.max_colwidth', None)

In [10]:
df = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\АПРЕЛЬ.xlsb")

In [75]:
df2 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\МАЙ.xlsx")

In [5]:
df3 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\ИЮНЬ.xlsb")

In [6]:
df4 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\ИЮЛЬ.xlsb")

In [7]:
df5 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\АВГУСТ.xlsb")

In [106]:
df6 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\СЕНТЯБРЬ.xlsb")

In [89]:
df7 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\ОКТЯБРЬ.xlsx")

In [90]:
df8 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\НОЯБРЬ.xlsb")

In [79]:
df_общий = pd.concat([df, df2, df3, df4, df5], ignore_index=True)

In [109]:
df_общий2 = pd.concat([df6, df7, df8], ignore_index=True)

In [116]:
df_общий3 = pd.concat([df_общий, df_общий2], ignore_index=True)

In [119]:
df_общий3 = df_общий3.drop(columns=['Паркинг'])

In [83]:
df_общий['Город'].unique()

array(['Санкт-Петербург', 'Екатеринбург', 'Новосибирск', 'Уфа', 'Казань',
       'Ростов-на-Дону', 'Краснодар', 'Нижний Новгород', 'Пермь',
       'Самара', 'Воронеж', 'Челябинск', 'Красноярск', 'Волгоград',
       'Омск'], dtype=object)

In [82]:
df_общий = df_общий[df_общий['Город'] != 'Тюмень']

# Заменяем 'Ростов' на 'Ростов-на-Дону'
df_общий['Город'] = df_общий['Город'].replace('Ростов', 'Ростов-на-Дону')

In [122]:
df_общий3.

,Дата обновления,Срок сдачи,Ссылка,Название проекта,Девелопер,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Город,Район,Год сдачи,Балконы/лоджии,"Цена кв.м, руб.",Округ,Метро
0,2025-04-30 00:00:00,"Cдача ГК: 4 квартал, 2026 года",305422886,17/33 Петровский остров,Element,Квартира,Без отделки,0,1001.00,2808755399,Санкт-Петербург,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-30 00:00:00,"Cдача ГК: 4 квартал, 2026 года",305422879,17/33 Петровский остров,Element,Квартира,Без отделки,0,459.27,1011267945,Санкт-Петербург,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-04-30 00:00:00,"Cдача ГК: 4 квартал, 2026 года",305422907,17/33 Петровский остров,Element,Квартира,Без отделки,0,573.09,1225109021,Санкт-Петербург,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-04-30 00:00:00,"Cдача ГК: 4 квартал, 2026 года",305422985,17/33 Петровский остров,Element,Квартира,Без отделки,0,582.87,1054359663,Санкт-Петербург,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-04-30 00:00:00,"Cдача ГК: 4 квартал, 2026 года",316390466,17/33 Петровский остров,Element,Квартира,Без отделки,3,170.21,293263320,Санкт-Петербург,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df_общий3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925454 entries, 0 to 1925453
Data columns (total 17 columns):
 #   Column            Dtype
---  ------            -----
 0   Дата обновления   object
 1   Срок сдачи        object
 2   Ссылка            object
 3   Название проекта  object
 4   Девелопер         object
 5   Тип помещения     object
 6   Отделка           object
 7   Кол-во комнат     object
 8   Площадь, кв.м     float64
 9   Цена лота, руб.   object
 10  Город             object
 11  Район             object
 12  Год сдачи         object
 13  Балконы/лоджии    float64
 14  Цена кв.м, руб.   float64
 15  Округ             object
 16  Метро             object
dtypes: float64(3), object(14)
memory usage: 249.7+ MB

In [86]:
df_общий.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1247167 entries, 0 to 1247221
Data columns (total 15 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Дата обновления   1247167 non-null  datetime64[ns]
 1   Срок сдачи        1211180 non-null  object
 2   Ссылка            639614 non-null   object
 3   Название проекта  1247146 non-null  object
 4   Девелопер         1246769 non-null  object
 5   Тип помещения     1219990 non-null  object
 6   Отделка           1231112 non-null  object
 7   Кол-во комнат     1238927 non-null  object
 8   Площадь, кв.м     1247146 non-null  float64
 9   Цена лота, руб.   1212677 non-null  object
 10  Город             1247167 non-null  object
 11  Район             246987 non-null   object
 12  Год сдачи         1367 non-null     object
 13  Балконы/лоджии    227937 non-null   float64
 14  Паркинг           27392 non-null    object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 152.2+ MB

In [87]:
df_общий.head()

,Дата обновления,Срок сдачи,Ссылка,Название проекта,Девелопер,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Город,Район,Год сдачи,Балконы/лоджии,Паркинг
0,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422886,17/33 Петровский остров,Element,Квартира,Без отделки,0,1001.00,2808755399,Санкт-Петербург,NaN,NaN,NaN,NaN
1,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422879,17/33 Петровский остров,Element,Квартира,Без отделки,0,459.27,1011267945,Санкт-Петербург,NaN,NaN,NaN,NaN
2,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422907,17/33 Петровский остров,Element,Квартира,Без отделки,0,573.09,1225109021,Санкт-Петербург,NaN,NaN,NaN,NaN
3,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422985,17/33 Петровский остров,Element,Квартира,Без отделки,0,582.87,1054359663,Санкт-Петербург,NaN,NaN,NaN,NaN
4,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",316390466,17/33 Петровский остров,Element,Квартира,Без отделки,3,170.21,293263320,Санкт-Петербург,NaN,NaN,NaN,NaN

In [107]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222401 entries, 0 to 222400
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата обновления           180 non-null     float64
 1   Название проекта          222401 non-null  object
 2   Девелопер                 222401 non-null  object
 3   Город                     222401 non-null  object
 4   Район                     222401 non-null  object
 5   Гео3                      221301 non-null  object
 6   Расстояние до центра, км  220470 non-null  float64
 7   Срок сдачи                222186 non-null  object
 8   Тип помещения             222401 non-null  object
 9   Отделка                   222401 non-null  object
 10  Кол-во комнат             222399 non-null  float64
 11  Площадь, кв.м             222401 non-null  float64
 12  Цена лота, руб.           222401 non-null  int64
 13  Ссылка                    65530 non-null   object
dtypes: float64(4), int64(1), object(9)
memory usage: 23.8+ MB

In [101]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242051 entries, 0 to 242050
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Дата обновления   242051 non-null  datetime64[ns]
 1   Название проекта  242051 non-null  object
 2   Девелопер         242051 non-null  object
 3   Город             242051 non-null  object
 4   Район             242051 non-null  object
 5   Срок сдачи        241796 non-null  object
 6   Тип помещения     242051 non-null  object
 7   Отделка           242051 non-null  object
 8   Кол-во комнат     242051 non-null  int64
 9   Площадь, кв.м     242051 non-null  float64
 10  Цена кв.м, руб.   242051 non-null  float64
 11  Цена лота, руб.   242051 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 22.2+ MB

In [102]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213835 entries, 0 to 213834
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата обновления           213835 non-null  datetime64[ns]
 1   Название проекта          213835 non-null  object
 2   Девелопер                 213835 non-null  object
 3   Город                     213835 non-null  object
 4   Округ                     64682 non-null   object
 5   Район                     173054 non-null  object
 6   Метро                     92695 non-null   object
 7   Расстояние до центра, км  213835 non-null  float64
 8   Срок сдачи                213523 non-null  object
 9   Тип помещения             213835 non-null  object
 10  Отделка                   213820 non-null  object
 11  Кол-во комнат             213835 non-null  object
 12  Площадь, кв.м             213835 non-null  float64
 13  Цена лота, руб.           213835 non-null  object
 14  Ссылка                    186316 non-null  object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 24.5+ MB

In [44]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264409 entries, 0 to 264408
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Дата обновления   264409 non-null  datetime64[ns]
 1   Срок сдачи        263888 non-null  object
 2   Ссылка            65439 non-null   object
 3   Название проекта  264388 non-null  object
 4   Девелопер         264388 non-null  object
 5   Адрес             264409 non-null  object
 6   Корпус            233688 non-null  object
 7   Тип помещения     264388 non-null  object
 8   Отделка           263427 non-null  object
 9   Кол-во комнат     264378 non-null  float64
 10  Площадь, кв.м     264388 non-null  float64
 11  Цена лота, руб.   264388 non-null  object
 12  Этаж              257722 non-null  float64
 13  Дата объявления   233688 non-null  object
 14  Город             264409 non-null  object
dtypes: datetime64[ns](1), float64(3), object(11)
memory usage: 30.3+ MB

In [63]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252441 entries, 0 to 254861
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Дата обновления           252441 non-null  datetime64[ns]
 1   Название проекта          252441 non-null  object
 2   Девелопер                 252064 non-null  object
 3   Область                   252441 non-null  object
 4   Город                     252441 non-null  object
 5   Район                     241882 non-null  object
 6   Гео4                      229390 non-null  object
 7   Корпус                    228245 non-null  object
 8   Расстояние до центра, км  250843 non-null  float64
 9   Срок сдачи                251805 non-null  object
 10  Год сдачи                 1367 non-null    object
 11  Тип помещения             252441 non-null  object
 12  Отделка                   252432 non-null  object
 13  Кол-во комнат             252418 non-null  float64
 14  Площадь, кв.м             252441 non-null  float64
 15  Площадь кухни, кв.м       228249 non-null  float64
 16  Жилая площадь, кв.м       228249 non-null  float64
 17  Цена кв.м                 29694 non-null   float64
 18  Цена лота, руб.           252441 non-null  object
 19  Этаж                      252441 non-null  int64
 20  Балконы/лоджии            228249 non-null  float64
 21  Паркинг                   27392 non-null   object
 22  Ссылка                    65436 non-null   object
dtypes: datetime64[ns](1), float64(7), int64(1), object(14)
memory usage: 46.2+ MB

In [99]:
df8.columns = df8.columns.str.lower().str.capitalize()

In [108]:
df6.head()

,Дата обновления,Название проекта,Девелопер,Город,Район,Гео3,"Расстояние до центра, км",Срок сдачи,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Ссылка
0,45930.0,СПУТНИК,Новый Дон,Самара,Октябрьский,NaN,7.21,2 квартал 2028 года,Квартира,Без отделки,1.0,39.76,6321840,NaN
1,45930.0,Классики,РАЗВИТИЕ,Самара,улица Победы,14а,8.11,4 квартал 2029 года,Квартира,Без отделки,0.0,27.65,3815700,NaN
2,45930.0,Новая Самара,ФИНСТРОЙ,Самара,Красноглинский,NaN,17.84,3 квартал 2027 года,Квартира,Без отделки,0.0,27.26,3894282,NaN
3,45930.0,Новая Самара,ФИНСТРОЙ,Самара,Красноглинский,NaN,17.84,3 квартал 2027 года,Квартира,Без отделки,1.0,35.51,4703903,NaN
4,45930.0,Новая Самара,ФИНСТРОЙ,Самара,Красноглинский,NaN,17.84,3 квартал 2027 года,Квартира,Без отделки,1.0,38.18,5057590,NaN

In [31]:
df['Тип помещения'] = (
    df['Тип помещения']
    .str.strip()
    .replace('квартиры', 'Квартира')
)
df2['Тип помещения'] = (
    df2['Тип помещения']
    .str.strip()
    .replace('квартиры', 'Квартира')
)
df3['Тип помещения'] = (
    df3['Тип помещения']
    .str.strip()
    .replace('квартиры', 'Квартира')
)
df4['Тип помещения'] = (
    df4['Тип помещения']
    .str.strip()
    .replace('квартиры', 'Квартира')
)
df5['Тип помещения'] = (
    df5['Тип помещения']
    .str.strip()
    .replace('квартиры', 'Квартира')
)

In [121]:
df_общий3['Дата обновления'] = pd.to_datetime('1899-12-30') + pd.to_timedelta(df_общий3['Дата обновления'], unit='D')

TypeError: Invalid type for timedelta scalar: <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [46]:
df3.rename(columns={'Регион': 'Город'}, inplace=True)

In [54]:
df5 = df5.drop(columns=['Класс'])

In [67]:
df5 = df5[~(
    (df5['Область'] == 'Республика Башкортостан') &
    (df5['Город'] != 'Уфа')
)]
df5 = df5[~(
    (df5['Область'] == 'Республика Татарстан') &
    (df5['Город'] != 'Казань')
)]
df5 = df5[~(
    (df5['Область'] == 'Ростовская область') &
    (df5['Город'] != 'Ростов-на-Дону')
)]
df5 = df5[~(
    (df5['Область'] == 'Челябинская область') &
    (df5['Город'] != 'Челябинск')
)]

In [62]:
df5 = df5[df5['Область'] != 'Самарская область']

In [64]:
df5.loc[df5['Область'] == 'Самара', 'Город'] = 'Самара'

In [65]:
mask = df5['Область'] == 'Санкт-Петербург'

# переносим Город → Район
df5.loc[mask, 'Район'] = df5.loc[mask, 'Город']

# ставим единое значение в Город
df5.loc[mask, 'Город'] = 'Санкт-Петербург'

In [66]:
mask = df5['Область'] == 'Уфа'

# переносим Город → Район
df5.loc[mask, 'Район'] = df5.loc[mask, 'Город']

# ставим единое значение в Город
df5.loc[mask, 'Город'] = 'Уфа'

In [68]:
df['Ссылка'] = df['Ссылка'].str.rstrip('/').str.split('/').str[-1]
df2['Ссылка'] = df2['Ссылка'].str.rstrip('/').str.split('/').str[-1]
df3['Ссылка'] = df3['Ссылка'].str.rstrip('/').str.split('/').str[-1]
df4['Ссылка'] = df4['Ссылка'].str.rstrip('/').str.split('/').str[-1]
df5['Ссылка'] = df5['Ссылка'].str.rstrip('/').str.split('/').str[-1]

In [ ]:
df6['Ссылка'] = df6['Ссылка'].str.rstrip('/').str.split('/').str[-1]
df7['Ссылка'] = df7['Ссылка'].str.rstrip('/').str.split('/').str[-1]

In [124]:
df_общий3.to_csv(r"C:\Users\m.olshanskiy\Desktop\Города млн\2025\Первичка\2025.csv", index=False, encoding='utf-8')