In [123]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter
from openpyxl.styles import Alignment
import datetime
import locale
locale.setlocale(locale.LC_TIME, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [133]:
# Словарь месяцев вручную, чтобы избежать проблем с кодировкой
months_ru = {
    1: "янв", 2: "фев", 3: "мар", 4: "апр", 5: "май", 6: "июн",
    7: "июл", 8: "авг", 9: "сен", 10: "окт", 11: "ноя", 12: "дек"
}

In [36]:
df = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Продажи отсортированные.xlsx")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Застройщик  234 non-null    object
 1   Indicators  160 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.8+ KB

In [4]:
df

             Застройщик  Indicators
0                   ПИК      1587.0
1               Самолет      1534.0
2     ДСК-1 (ФСК Лидер)       543.0
3              MR Group       499.0
4                  А101       487.0
..                  ...         ...
229             Gravion         NaN
230              Glorax         NaN
231   Engeo Development         NaN
232  Author Development         NaN
233     Ant Development         NaN

[234 rows x 2 columns]

In [38]:
developers = df["Застройщик"].tolist()

In [6]:
developers

['ПИК',
 'Самолет',
 'ДСК-1 (ФСК Лидер)',
 'MR Group',
 'А101',
 'Гранель',
 'Брусника',
 'ЛСР',
 'Эталон',
 'Level Group',
 'Plus Development',
 'Донстрой',
 'Dogma',
 'Аквилон',
 'ФСК',
 'Главстрой',
 'Страна',
 'Абсолют',
 'Основа',
 'РГ Девелопмент',
 'Sminex',
 'Родина',
 '3S Development',
 'Профи Инвест',
 'Корона',
 'Пионер',
 'Отрада Девелопмент',
 'КОРТРОС',
 'ПИК (Forma)',
 'Галс Девелопмент',
 'Московский фонд реновации',
 'Горакс',
 'ГК Регионы',
 'Stone',
 'Сбербанк',
 'Альфастройинвест',
 'Пик (Среда)',
 'Tekta',
 'Инвесттраст (Рост)',
 'Мангазея Девелопмент',
 'Град',
 'УЭЗ',
 'Крост',
 'Талан',
 'Unikey',
 'Стройинновация',
 'Asterus Development',
 'Русич',
 'Зеленый сад',
 'Dar Development',
 'СЗ ЖК Яркий',
 'Upside Development (СМУ-6)',
 'Ikon Development',
 'Рос Евро Сити',
 'Мособлжилстрой',
 'Дело',
 'BTR Group',
 'AFI Development',
 'Тройка РЭД',
 'Садовое кольцо ГК',
 'Legenda Intelligent Development',
 'Ташир',
 'МонАрх',
 'RDI',
 'РК-Газсетьсервис Коломна',
 'Карандаш',
 'Фобос',
 'Инвестстрой',
 'Жилстрой',
 'ТОЧНО',
 'Стройпромавтоматика',
 'ИФД Капитал',
 'ГК Развитие',
 'Квартал Инвестстрой',
 'Агрострой',
 'Центр Инвест',
 'Коренево Девелопмент',
 'Альфа Проджект',
 'ЮИТ',
 'Юасстрой',
 'Ломоносов Девелопмент',
 'Трансстройинвест',
 'Sezar Group',
 'Стройтек',
 'Веста Групп',
 'Baza Development',
 'Элемент',
 'Ферро-Строй',
 'Стройконтинент',
 'Стройка Плюс',
 'РКС Девелопмент',
 'Павлово Парк',
 'Prime Life Development',
 'Корпорация ВИТ',
 'Энергостройинвест',
 'Старт СК',
 'Сетьстрой',
 'Dominanta',
 'AEON Corporation',
 'Сумма элементов',
 'Новое время',
 'Главградострой',
 'Capital Group',
 'StMichael',
 'SDI Group',
 'Optima Development',
 'Metrofond',
 'G3 Group',
 'Иммо Девелопмент',
 'Глобал Инвест',
 'Apsis Globe',
 'СПСИТИ',
 'Остов',
 'Гюнай',
 'Волжский ДСК',
 'Plato Development',
 'Т Отель',
 'Gorn Development',
 'Сходня 10 ЖСК',
 'СЗ Доходный дом',
 'Мега Мечта',
 'Капиталстрой',
 'Капитал',
 'ГК Монолит',
 'October Group',
 'IQ Estate',
 'Стройтэкс',
 'Легион Девелопмент',
 'Атлант',
 'Coldy',
 'Холмы',
 'Сэсма',
 'САС Инвест',
 'Консоль',
 'Ингеоком',
 'Диском',
 'Выбор',
 'Берендей',
 'SIS Development',
 'Троицкжилстрой',
 'Топаз',
 'Техноолимпстрой',
 'Инвестиционный департамент',
 'Sunterra',
 'Sense',
 'AB Development',
 'Стимул',
 'Сияние',
 'Партнерство',
 'Лидер Групп',
 'Каравелла',
 'Иристон',
 'Ин-Групп',
 'ВЭМЗ-Эстейт',
 'Uniq Development',
 'Touch',
 'Rariteco',
 'Primacom',
 'Kaskad Family',
 'Balchug Estate',
 'ЭХО',
 'Эталон (проекты Лидер Инвест)',
 'Экран',
 'ЦентрСтрой',
 'Финтрастойл',
 'Трансфорт',
 'ТКС',
 'СФД',
 'Стройспецмонтаж',
 'Строймир',
 'Строительный трест 10',
 'Союзцветавтоматика',
 'СМУ 29',
 'СК Олимпийский 10',
 'Сити XXI век',
 'СЗ Звездный',
 'СЗ Вэллби',
 'Русстрой',
 'Р Инвест',
 'ПСТ',
 'Прима Мех',
 'Прайм',
 'НПО Машиностроения',
 'Новый город',
 'Новая жизнь',
 'Мир-Девелопмент',
 'Меркон',
 'Межрегионстрой',
 'Меджиком',
 'Мегалит',
 'М.О.Д.',
 'Корпорация КОШЕЛЕВ',
 'Киноцентр',
 'Казачий торговый дом',
 'Инвестстройрегион',
 'Замитино',
 'Е-Инвест',
 'Гута',
 'Гранд МО',
 'Главмособлстрой',
 'ГК ПЖИ',
 'Гефест',
 'ВСК Инвест',
 'ВВК-XXI',
 'Бэсткон',
 'Березовец',
 'Белстрой',
 'Атлантис Одинцово',
 'Архитектор',
 'Арс',
 'АМ Девелопмент',
 'Александрия',
 'Аверус',
 'Ziggurat Development',
 'VosHod',
 'Vesta Development',
 'Vesper',
 'Sun Development',
 'Stenoy',
 'Seven Suns Development',
 'Self',
 'Sawatsky',
 'R4S',
 'Patek',
 'Palladio Group',
 'OM Development',
 'Magnum Development',
 'KR Properties',
 'Hutton Development',
 'Gravion',
 'Glorax',
 'Engeo Development',
 'Author Development',
 'Ant Development']

In [160]:
df2 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\Таблица с продажами.xlsx")

In [166]:
df_sorted

,№,Застройщик,Регион,Название ЖК,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,...,янв.25,фев.25,мар.25,апр.25,май.25,июн.25,июл.25,авг.25,сен.25,окт.25
0,№,Застройщик,Регион,Название ЖК,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ПИК,Total,NaN,3055.0,4417.0,3772.0,3101.0,1624.0,1550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,ПИК,Москва,Total,1333.0,1897.0,1540.0,1446.0,888.0,942.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,ПИК,Москва,Бусиновский парк,128.0,209.0,146.0,134.0,104.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,ПИК,Москва,Люблинский парк,32.0,56.0,59.0,11.0,1.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,234,Ant Development,Москва,Виктори Парк Резиденс,NaN,4.0,14.0,9.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1311,№,Застройщик,Регион,Название ЖК,2025-01-01 00:00:00,2025-02-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,...,янв.25,фев.25,мар.25,апр.25,май.25,июн.25,июл.25,авг.25,сен.25,окт.25
1312,234,Ant Development,Total,NaN,NaN,4.0,14.0,9.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1313,234,Ant Development,Москва,Total,NaN,4.0,14.0,9.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1314,234,Ant Development,Москва,Виктори Парк Резиденс,NaN,4.0,14.0,9.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
def format_col(col):
    if isinstance(col, (pd.Timestamp, datetime.datetime)):
        return f"{months_ru[col.month]}.{str(col.year)[-2:]}"
    return col

df2.columns = [format_col(col) for col in df2.columns]

In [152]:
# Проверяем результат
print(df2.columns.tolist())

['Застройщик', 'Регион', 'Название ЖК', 'янв.25', 'фев.25', 'мар.25', 'апр.25', 'май.25', 'июн.25', 'июл.25', 'авг.25', 'сен.25', 'окт.25', 'Total']

In [162]:
region_order = ['Total', 'Москва', 'Новая Москва', 'Московская область']

In [163]:
df2['Застройщик'] = pd.Categorical(df2['Застройщик'], categories=developers, ordered=True)
df2['Регион'] = pd.Categorical(df2['Регион'], categories=region_order, ordered=True)
df_sorted = df2.sort_values(['Застройщик', 'Регион']).reset_index(drop=True)

In [165]:
# Пусть df_sorted — это уже отсортированная таблица

# Список уникальных застройщиков в порядке сортировки
for dev in df_sorted['Застройщик'].unique():
    temp = df_sorted[df_sorted['Застройщик'] == dev]
    
    # Добавляем строку-шапку
    header_row = pd.DataFrame([df_sorted.columns], columns=df_sorted.columns)
    df2.columns = [format_col(col) for col in df2.columns]
    
    
    # Добавляем в общий DataFrame: сначала шапку, потом блок застройщика
    df_sorted = pd.concat([df_out, header_row, temp], ignore_index=True)

In [157]:
# --- 3. Сохраняем в Excel ---
output_file = r"C:\Users\m.olshanskiy\Desktop\Продажи отсортированные2.xlsx"
df_sorted.to_excel(output_file, index=False)

# --- 4. Объединяем ячейки в Excel ---
wb = load_workbook(output_file)
ws = wb.active

# Функция объединения одинаковых подряд ячеек в столбце
def merge_identical_cells(column_idx):
    start = 2  # пропускаем заголовок
    current_value = ws[f"{get_column_letter(column_idx)}{start}"].value
    for row in range(3, ws.max_row + 2):
        cell_value = ws[f"{get_column_letter(column_idx)}{row}"].value
        if cell_value != current_value:
            if row - start > 1 and current_value is not None:
                ws.merge_cells(start_row=start, start_column=column_idx,
                               end_row=row - 1, end_column=column_idx)
                ws[f"{get_column_letter(column_idx)}{start}"].alignment = Alignment(
                    vertical="center", horizontal="center")
            start = row
            current_value = cell_value

# Объединяем ячейки по столбцам: 1 — Застройщик, 2 — Регион
merge_identical_cells(1)
merge_identical_cells(2)
merge_identical_cells(3)

wb.save(output_file)
print("✅ Готово! Ячейки объединены и выровнены по центру.")

✅ Готово! Ячейки объединены и выровнены по центру.

In [47]:
df_sorted.to_excel(r"C:\Users\m.olshanskiy\Desktop\Продажи отсортированные2.xlsx", index=False)