In [1]:
import pandas as pd
import numpy as np

In [137]:
name = '09-10.2024_МО'
df1 = pd.read_excel(f"2024/{name}.xlsb", sheet_name="массив", engine='pyxlsb')

In [139]:
df1

,Дата обновления,Название проекта,на англ,промзона,Местоположение,Метро,"Расстояние до метро, км","Время до метро, мин",МЦК/МЦД/БКЛ,"Расстояние до МЦК/МЦД, км",...,Кол-во комнат,"Площадь, кв.м","Цена кв.м, руб.","Цена лота, руб.","Скидка,%","Цена кв.м со ск, руб.","Цена лота со ск, руб.",Секция,Этаж,Номер
0,45536,Дюна,NaN,NaN,МО ближ.,Котельники,1.42,17,NaN,NaN,...,2,60.60,240000.000000,14544000.0,0.0,240000.000000,14544000.0,NaN,2.0,1-1
1,45536,Дюна,NaN,NaN,МО ближ.,Котельники,1.42,17,NaN,NaN,...,2,60.68,247000.000000,14987960.0,0.0,247000.000000,14987960.0,NaN,22.0,1-101
2,45536,Дюна,NaN,NaN,МО ближ.,Котельники,1.42,17,NaN,NaN,...,2е,37.31,261500.000000,9756565.0,0.0,261500.000000,9756565.0,NaN,22.0,1-102
3,45536,Дюна,NaN,NaN,МО ближ.,Котельники,1.42,17,NaN,NaN,...,1,32.73,262000.000000,8575260.0,0.0,262000.000000,8575260.0,NaN,22.0,1-103
4,45536,Дюна,NaN,NaN,МО ближ.,Котельники,1.42,17,NaN,NaN,...,2е,45.00,247000.000000,11115000.0,0.0,247000.000000,11115000.0,NaN,22.0,1-104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69826,45566,Идеал,NaN,NaN,МО ближ.,NaN,NaN,NaN,Балашиха,2.93,...,3е,66.40,175104.006024,11626906.0,0.0,175104.006024,11626906.0,5,NaN,453
69827,45566,Идеал,NaN,NaN,МО ближ.,NaN,NaN,NaN,Балашиха,2.93,...,3е,66.20,183444.003021,12143993.0,0.0,183444.003021,12143993.0,5,NaN,446
69828,45566,Идеал,NaN,NaN,МО ближ.,NaN,NaN,NaN,Балашиха,2.93,...,3е,66.20,183444.003021,12143993.0,0.0,183444.003021,12143993.0,5,NaN,446
69829,45566,Идеал,NaN,NaN,МО ближ.,NaN,NaN,NaN,Балашиха,2.93,...,3е,66.40,183444.006024,12180682.0,0.0,183444.006024,12180682.0,4,NaN,386
69830,45566,Идеал,NaN,NaN,МО ближ.,NaN,NaN,NaN,Балашиха,2.93,...,3е,66.40,183444.006024,12180682.0,0.0,183444.006024,12180682.0,4,NaN,386

In [140]:
df1['Дата обновления'] = pd.to_datetime('1899-12-30') + pd.to_timedelta(df1['Дата обновления'], unit='D')

In [141]:
df1 = df1[(df1['Дата обновления'].dt.month == 10) & (df1['Дата обновления'].dt.year == 2024)]

In [142]:
df1.to_excel(f"2024/{name}.xlsx")