In [126]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\2025.csv")

C:\Users\Mi\AppData\Local\Temp\ipykernel_27868\175346815.py:3: DtypeWarning: Columns (0,2,7,9,11,12,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\2025.csv")

In [302]:
df_январь = pd.read_excel(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\Январь.xlsx")

In [351]:
df_full['Название проекта'] = df_full['Название проекта'].str.replace(r'ЖК |«|»', '', regex=True).str.strip()

In [352]:
df_full['Название проекта'].value_counts()

Название проекта
Октябрь Парк                  61375
Самолет                       58443
Народные Кварталы             38221
Первое место                  36408
Парк Победы - 2               26408
                              ...
Радуга-2                          1
Апарт-отель Putilov AVENIR        1
Республиканская 21                1
Golden City                       1
Новая жизнь на Корабельной        1
Name: count, Length: 1580, dtype: int64

In [346]:
df_ям.head()

,Дата обновления,Ссылка,Город,Девелопер,Название проекта,Тип помещения,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Срок сдачи,Район,Год сдачи
0,2025-01-01,302130143,Волгоград,АСЗ,ЖК «НА АТЛАСОВА»,Квартиры,0,24.3,2899000.0,4 квартал 2025 года,NaN,2025
1,2025-01-01,302128751,Волгоград,АСЗ,ЖК «НА АТЛАСОВА»,Квартиры,0,24.3,2916000.0,4 квартал 2025 года,NaN,2025
2,2025-01-01,302128591,Волгоград,АСЗ,ЖК «НА АТЛАСОВА»,Квартиры,0,24.3,2916000.0,4 квартал 2025 года,NaN,2025
3,2025-01-01,302128707,Волгоград,АСЗ,ЖК «НА АТЛАСОВА»,Квартиры,0,24.3,2916000.0,4 квартал 2025 года,NaN,2025
4,2025-01-01,302130228,Волгоград,АСЗ,ЖК «НА АТЛАСОВА»,Квартиры,0,24.3,2916000.0,4 квартал 2025 года,NaN,2025

In [356]:
df_full['Срок сдачи'].value_counts()

Срок сдачи
4 квартал 2026 года    306839
4 квартал 2025 года    225764
Дом сдан               197787
2 квартал 2026 года    187131
3 квартал 2026 года    155969
4 квартал 2027 года    154881
1 квартал 2026 года    122592
2 квартал 2027 года    110535
3 квартал 2025 года    105759
1 квартал 2027 года     98508
3 квартал 2027 года     95184
2 квартал 2025 года     59266
2 квартал 2028 года     54521
4 квартал 2028 года     53881
1 квартал 2028 года     43186
3 квартал 2028 года     42598
1 квартал 2029 года     18796
дом сдан                17596
1 квартал 2025 года     13887
4 квартал 2024 года     13828
2 квартал 2029 года     12445
3 квартал 2031 года     10185
3 квартал 2029 года      9792
2 квартал 2030 года      6713
4 квартал 2029 года      6520
2 квартал года           4225
4 квартал 2023 года      4159
1 квартал 2030 года      4100
3 квартал 2024 года      2711
2 квартал 2024 года      2472
4 квартал года           1339
1 квартал 2024 года      1231
4 квартал 2030 года      1176
2 квартал 2032 года       855
2 квартал 2022 года       667
3 квартал 2034 года       462
1 квартал 2023 года       301
4 квартал 2022 года       291
4 квартал 2031 года       280
1 квартал 2032 года       231
3 квартал 2030 года       191
3 квартал 2023 года       181
2 квартал 2023 года       167
4 квартал 2018 года       161
4 квартал 2019 года       147
2 квартал 2021 года        66
3 квартал 2020 года        59
3 квартал 2022 года        58
1 квартал 2021 года        46
1 квартал 2022 года        28
4 квартал 2021 года        14
3 квартал 2021 года        12
4 квартал 2020 года        11
Name: count, dtype: int64

In [316]:
df_март = df_март.drop(columns=['Цена за м2'])

In [304]:
# Применяем функцию к каждой строке
import re
def extract_srok(text):
    if pd.isna(text):
        return None
    if 'Сдача' in text:
        # Разделяем по символу '•' или запятой ','
        parts = re.split(r'[•,]', text)
        return parts[-1].strip()  # берём последнюю часть и убираем пробелы
    return None

df_январь['Срок сдачи'] = df_январь['row_element'].apply(extract_srok)

In [335]:
df_ям.loc[df_ям['Срок сдачи'].str.contains('квартал', na=False), 'Срок сдачи'] = \
    df_ям['Срок сдачи'] + ' года'

In [243]:
df_ям['Срок сдачи'] = df_ям['Срок сдачи'].str.replace('  ', ' ')

In [292]:
df_март = pd.read_excel(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\Март.xlsx")

In [321]:
df_ям = pd.concat([df_январь, df_март], ignore_index=True)

In [343]:
df_ям.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283658 entries, 0 to 283657
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Дата обновления   283658 non-null  datetime64[ns]
 1   Ссылка            283658 non-null  object
 2   Город             283658 non-null  object
 3   Девелопер         282336 non-null  object
 4   Название проекта  283658 non-null  object
 5   Тип помещения     283658 non-null  object
 6   Кол-во комнат     283658 non-null  int64
 7   Площадь, кв.м     283658 non-null  float64
 8   Цена лота, руб.   283658 non-null  float64
 9   Срок сдачи        255639 non-null  object
 10  Район             112511 non-null  object
 11  Год сдачи         232479 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 26.2+ MB

In [226]:
df_ям = df_ям[df_ям['Цена лота, руб.'].notna()]

In [128]:
df2 = pd.read_excel(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\МАЙ уфа.xlsx")
df3 = pd.read_excel(r"C:\Users\Mi\OneDrive\Desktop\2025\Первичка\МАЙ самара.xlsx")

In [347]:
df_full = pd.concat([df, df_ям], ignore_index=True)

In [320]:
df_март = df_март.rename(columns={'Срок': 'Срок сдачи'})

In [348]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208711 entries, 0 to 2208710
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   Дата обновления   datetime64[ns]
 1   Срок сдачи        object
 2   Ссылка            object
 3   Название проекта  object
 4   Девелопер         object
 5   Тип помещения     object
 6   Отделка           object
 7   Кол-во комнат     int64
 8   Площадь, кв.м     float64
 9   Цена лота, руб.   float64
 10  Город             object
 11  Район             object
 12  Год сдачи         Int64
 13  Цена кв.м, руб.   float64
 14  Округ             object
 15  Метро             object
dtypes: Int64(1), datetime64[ns](1), float64(3), int64(1), object(10)
memory usage: 271.7+ MB

In [281]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925053 entries, 0 to 1925052
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   Дата обновления   datetime64[ns]
 1   Срок сдачи        object
 2   Ссылка            object
 3   Название проекта  object
 4   Девелопер         object
 5   Тип помещения     object
 6   Отделка           object
 7   Кол-во комнат     int64
 8   Площадь, кв.м     float64
 9   Цена лота, руб.   float64
 10  Город             object
 11  Район             object
 12  Год сдачи         Int64
 13  Цена кв.м, руб.   float64
 14  Округ             object
 15  Метро             object
dtypes: Int64(1), datetime64[ns](1), float64(3), int64(1), object(10)
memory usage: 236.8+ MB

In [74]:
df.head()

,Дата обновления,Срок сдачи,Ссылка,Название проекта,Девелопер,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Город,Район,Год сдачи,Балконы/лоджии,"Цена кв.м, руб.",Округ,Метро
0,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422886.0,17/33 Петровский остров,Element,Квартира,Без отделки,0,1001.00,2808755399,Санкт-Петербург,NaN,2026,NaN,NaN,NaN,NaN
1,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422879.0,17/33 Петровский остров,Element,Квартира,Без отделки,0,459.27,1011267945,Санкт-Петербург,NaN,2026,NaN,NaN,NaN,NaN
2,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422907.0,17/33 Петровский остров,Element,Квартира,Без отделки,0,573.09,1225109021,Санкт-Петербург,NaN,2026,NaN,NaN,NaN,NaN
3,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",305422985.0,17/33 Петровский остров,Element,Квартира,Без отделки,0,582.87,1054359663,Санкт-Петербург,NaN,2026,NaN,NaN,NaN,NaN
4,2025-04-30,"Cдача ГК: 4 квартал, 2026 года",316390466.0,17/33 Петровский остров,Element,Квартира,Без отделки,3,170.21,293263320,Санкт-Петербург,NaN,2026,NaN,NaN,NaN,NaN

In [323]:
# Если в столбце есть строки с пробелами или символами типа '₽', убираем их
df_ям['Цена лота, руб.'] = (
    df_ям['Цена лота, руб.']
    .astype(str)
    .str.replace(r'[^\d.]', '', regex=True)
    .astype(float)
)

In [132]:
result = df[df['Цена лота, руб.'].isna()].groupby('Дата обновления').size().reset_index(name='count')
result

Empty DataFrame
Columns: [Дата обновления, count]
Index: []

In [137]:
mask = (
    (df['Дата обновления'].dt.to_period('M') == '2025-06') &
    (df['Город'] == 'Краснодар') &
    (df['Название проекта'].isin(['Самолет', 'Первое место']))
)

df_copy = df[mask].copy()
df_copy['Дата обновления'] = pd.to_datetime('2025-05-30')

In [327]:
df_ям['Кол-во комнат'] = df_ям['Кол-во комнат'].replace('Студия', 0)

C:\Users\Mi\AppData\Local\Temp\ipykernel_27868\3343053395.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_ям['Кол-во комнат'] = df_ям['Кол-во комнат'].replace('Студия', 0)

In [232]:
df_ям['Кол-во комнат'] = df_ям['Кол-во комнат'].astype(int)

In [179]:
df_ям['Кол-во комнат'] = df_ям['Кол-во комнат'].fillna(0).astype(int)

In [328]:
df_ям['Кол-во комнат'].value_counts()

Кол-во комнат
1    140202
2     63512
0     44490
3     32722
4      2728
5         4
Name: count, dtype: int64

In [164]:
df['Кол-во комнат'] = df['Кол-во комнат'].str.replace('студия', '')

In [141]:
result = (
    df
    .groupby(df['Дата обновления'].dt.to_period('M'))
    .size()
    .reset_index(name='count')
)

In [142]:
result

  Дата обновления   count
0         2025-04  246132
1         2025-05  234390
2         2025-06  249727
3         2025-07  264388
4         2025-08  252129
5         2025-09  222401
6         2025-10  242051
7         2025-11  213835

In [134]:
df['Дата обновления'] = df['Дата обновления'].fillna(
    pd.Timestamp('2025-09-30')
)

In [135]:
s = df['Дата обновления']

df['Дата обновления'] = pd.to_datetime(
    s.where(~s.astype(str).str.match(r'^\d+(\.0)?$')),
    errors='coerce'
)

df.loc[s.astype(str).str.match(r'^\d+(\.0)?$'), 'Дата обновления'] = pd.to_datetime(
    s[s.astype(str).str.match(r'^\d+(\.0)?$')].astype(float),
    unit='D',
    origin='1899-12-30'
)

In [329]:
df_ям['Год сдачи'] = (
    df_ям['Срок сдачи']
    .str.extract(r'(\d{4})')
    .astype('Int64')
)

In [341]:
df_ям['Срок сдачи'] = df_ям['Срок сдачи'].str.replace('сдача ГК: ', '', regex=False)
df_ям['Срок сдачи'] = df_ям['Срок сдачи'].str.replace('кв.', 'квартал', regex=False)

In [144]:
def to_quarter_format(value):
    # Если пустое значение — оставляем NaN
    if pd.isna(value) or str(value).strip() == '':
        return pd.NA

    s = str(value).strip()

    # Если уже в виде "N квартал YYYY года" — оставляем как есть
    if 'квартал' in s:
        return s

    try:
        # Пробуем преобразовать в datetime
        dt = pd.to_datetime(s)
        quarter = (dt.month - 1) // 3 + 1
        return f"{quarter} квартал {dt.year} года"
    except:
        # Если не дата и не текстовый квартал — оставляем как есть
        return s

# Применяем к колонке
df['Срок сдачи'] = df['Срок сдачи'].apply(to_quarter_format)

In [342]:
df_ям['Срок сдачи'].value_counts()

Срок сдачи
4 квартал 2026 года    34243
4 квартал 2025 года    28207
2 квартал 2026 года    24665
3 квартал 2026 года    21970
3 квартал 2025 года    17726
1 квартал 2026 года    17659
дом сдан               17596
2 квартал 2025 года    13846
1 квартал 2027 года    12935
2 квартал 2027 года    12432
1 квартал 2025 года     8578
4 квартал 2027 года     7639
4 квартал 2028 года     6709
3 квартал 2027 года     5981
3 квартал 2028 года     4809
2 квартал года          4225
4 квартал 2024 года     3910
2 квартал 2028 года     3205
1 квартал 2028 года     2280
1 квартал 2029 года     2164
2 квартал 2029 года     1716
4 квартал года          1339
3 квартал 2029 года      690
3 квартал 2024 года      604
4 квартал 2023 года      187
2 квартал 2024 года      162
1 квартал 2024 года       72
3 квартал 2023 года       35
2 квартал 2022 года       17
3 квартал 2020 года       14
4 квартал 2022 года       10
1 квартал 2023 года        9
1 квартал 2022 года        3
1 квартал 2021 года        2
Name: count, dtype: int64

In [306]:
df_январь['Срок сдачи'] = df_январь['Срок сдачи'].str.replace('Сдача корпуса ', '').str.replace('кв.', 'квартал')

In [310]:
df_январь['Срок сдачи'] = df_январь['Срок сдачи'].str.extract(r'(\d+\s+квартал\s+\d{4}\s*года?)')

In [193]:
df = df.drop(columns=['Балконы/лоджии'])

In [146]:
df['Цена лота, руб.'].isna().sum()

np.int64(0)

In [147]:
df = df.drop(columns=['Адрес'])

In [358]:
df_full.to_csv(r"\\192.168.252.25\аналитики\Млн_2025_первичка-2.csv", index=False)

In [196]:
sample_df = df.sample(n=10000, random_state=42)  # random_state для воспроизводимости

In [198]:
sample_df.to_excel(r"C:\Users\Mi\OneDrive\Desktop\Район.xlsx", index=False)

In [345]:
df_ям['Ссылка'] = df_ям['Ссылка'].where(
    df_ям['Ссылка'].isna(),
    df_ям['Ссылка'].astype(str).str.rstrip('/').str.split('/').str[-1]
)

In [262]:
df_ям['Ссылка'] = df_ям['Ссылка'].str.replace('.0', '')

In [150]:
df['Город'] = df['Город'].replace('0x17', 'Санкт-Петербург')

In [353]:
df_full[['Округ', 'Район']].isna().sum()

Округ    1696292
Район     226201
dtype: int64

In [354]:
for col in ['Округ', 'Район']:
    df_full[col] = df_full[col].fillna(
        df_full.groupby(['Название проекта', 'Город'])[col].transform('first')
    )

In [355]:
df_full[['Округ', 'Район']].isna().sum()

Округ    1615383
Район      43396
dtype: int64

In [156]:
df['Тип помещения'] = df['Тип помещения'].replace(
    ['квартиры', 'Квартира'],
    'Квартиры'
)

In [159]:
allowed = [
    'Без отделки',
    'С отделкой',
    'Предчистовая',
    'Черновая',
    'Чистовая',
    'С отделкой и доп опциями'
]

df['Отделка'] = df['Отделка'].where(
    df['Отделка'].isin(allowed) | df['Отделка'].isna(),
    'Не удалось определить'
)

In [161]:
df['Отделка'] = df['Отделка'].replace({
    'Чистовая': 'С отделкой',
    'Черновая': 'Предчистовая'
})

In [192]:
df[df['Район'] == 'Волгоград']

,Дата обновления,Срок сдачи,Ссылка,Название проекта,Девелопер,Тип помещения,Отделка,Кол-во комнат,"Площадь, кв.м","Цена лота, руб.",Город,Район,Год сдачи,Балконы/лоджии,"Цена кв.м, руб.",Округ,Метро
1240765,2025-09-30,Дом сдан,321211556,Волго-Дон,Волгострой (Волгоград),Квартиры,Предчистовая,0,67.28,17600000.0,Волгоград,Волгоград,<NA>,NaN,261593.34126,None,NaN
1244416,2025-09-30,3 квартал 2025 года,318338992,Берег Волги,АО «БВ» СЗ»,Квартиры,Без отделки,0,81.74,20435000.0,Волгоград,Волгоград,2025,NaN,250000.00000,None,NaN
1244417,2025-09-30,4 квартал 2025 года,318339362,Берег Волги,АО «БВ» СЗ»,Квартиры,Без отделки,0,81.74,20435000.0,Волгоград,Волгоград,2025,NaN,250000.00000,None,NaN
1244451,2025-09-30,4 квартал 2025 года,318339360,Берег Волги,АО «БВ» СЗ»,Квартиры,Без отделки,0,70.16,17540000.0,Волгоград,Волгоград,2025,NaN,250000.00000,None,NaN
1244452,2025-09-30,3 квартал 2025 года,318338991,Берег Волги,АО «БВ» СЗ»,Квартиры,Без отделки,0,70.16,17540000.0,Волгоград,Волгоград,2025,NaN,250000.00000,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1434981,2025-09-30,2 квартал 2026 года,302564299,Петровский парк,Приволжтрансстрой,Квартиры,Без отделки,0,74.40,6696000.0,Волгоград,Волгоград,2026,NaN,90000.00000,None,NaN
1435016,2025-09-30,2 квартал 2026 года,302564289,Петровский парк,Приволжтрансстрой,Квартиры,Без отделки,0,96.95,8628600.0,Волгоград,Волгоград,2026,NaN,89000.51573,None,NaN
1435017,2025-09-30,2 квартал 2026 года,302564212,Петровский парк,Приволжтрансстрой,Квартиры,Без отделки,0,96.95,8628600.0,Волгоград,Волгоград,2026,NaN,89000.51573,None,NaN
1435018,2025-09-30,2 квартал 2026 года,302564361,Петровский парк,Приволжтрансстрой,Квартиры,Без отделки,0,96.95,8628600.0,Волгоград,Волгоград,2026,NaN,89000.51573,None,NaN
1435019,2025-09-30,2 квартал 2026 года,302564458,Петровский парк,Приволжтрансстрой,Квартиры,Без отделки,0,96.95,8628600.0,Волгоград,Волгоград,2026,NaN,89000.51573,None,NaN

In [268]:
df_ям['Цена кв.м, руб.'] = df_ям['Цена лота, руб.'] / df_ям['Площадь, кв.м']

In [189]:
df['Район'] = df['Район'].str.replace('р-н ', '', regex=False)

In [270]:
df['Город'].unique()

array(['Санкт-Петербург', 'Екатеринбург', 'Новосибирск', 'Уфа', 'Казань',
       'Ростов-на-Дону', 'Краснодар', 'Нижний Новгород', 'Пермь',
       'Самара', 'Воронеж', 'Челябинск', 'Красноярск', 'Волгоград',
       'Омск'], dtype=object)

In [344]:
df_ям.to_excel(r"C:\Users\Mi\OneDrive\Desktop\Январь, Март.xlsx", index=False)