In [1]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter
from openpyxl.styles import Alignment
import datetime
import locale
locale.setlocale(locale.LC_TIME, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
# Словарь месяцев вручную, чтобы избежать проблем с кодировкой
months_ru = {
    1: "янв", 2: "фев", 3: "мар", 4: "апр", 5: "май", 6: "июн",
    7: "июл", 8: "авг", 9: "сен", 10: "окт", 11: "ноя", 12: "дек"
}

In [3]:
df = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\16012026_Рейтинг застр.xlsx", sheet_name='рейтинг')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Застройщик           236 non-null    object
 1   2025-12-01 00:00:00  161 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.8+ KB

In [5]:
df

                                            Застройщик  2025-12-01 00:00:00
0                                              Самолет               1983.0
1                                                  ПИК               1381.0
2                                                  ЛСР               1337.0
3                                                 А101                707.0
4                                              Гранель                593.0
..                                                 ...                  ...
232                                  Инвестстройрегион                  NaN
233                                                ПСТ                  NaN
234                                  СК Олимпийский 10                  NaN
235                                                NaN                  NaN
236  Applied filters:\nkpi is Кол-во (шт)\nДата рег...                  NaN

[237 rows x 2 columns]

In [6]:
developers = df["Застройщик"].tolist()

In [7]:
developers

['Самолет',
 'ПИК',
 'ЛСР',
 'А101',
 'Гранель',
 'Брусника',
 'MR Group',
 'ДСК-1 (ФСК Лидер)',
 'Dogma',
 'Plus Development',
 'Московский фонд реновации',
 'Профи Инвест',
 'Донстрой',
 'Главстрой',
 'Sminex',
 'Level Group',
 'Абсолют',
 'ФСК',
 'Stone',
 'Инвесттраст (Рост)',
 'Страна',
 'ПИК (Forma)',
 'Отрада Девелопмент',
 'КОРТРОС',
 'Аквилон',
 'AFI Development',
 'РГ Девелопмент',
 'Град',
 'Tekta',
 'Русич',
 'Основа',
 'Корона',
 '3S Development',
 'Эталон',
 'Тройка РЭД',
 'Родина',
 'Пионер',
 'РКС Девелопмент',
 'Kaskad Family (ФСК Лидер)',
 'СЗ ЖК Яркий',
 'Альфастройинвест',
 'Мангазея Девелопмент',
 'ГК Развитие',
 'Дело',
 'AEON Corporation',
 'BTR Group',
 'Dar Development',
 'Коренево Девелопмент',
 'Мособлжилстрой',
 'Ikon Development',
 'Unikey',
 'Upside Development (СМУ-6)',
 'Крост',
 'МонАрх',
 'Горакс',
 'Стройпромавтоматика',
 'Prime Life Development',
 'Зеленый сад',
 'ГК Регионы',
 'Ломоносов Девелопмент',
 'Жилстрой',
 'Пик (Среда)',
 'Садовое кольцо ГК',
 'Сбербанк',
 'Карандаш',
 'Asterus Development',
 'RDI',
 'Центр Инвест',
 'Инвестстрой',
 'Галс Девелопмент',
 'Квартал Инвестстрой',
 'Вектор',
 'Альфа Проджект',
 'Гюнай',
 'Трансстройинвест',
 'Сэсма',
 'ИФД Капитал',
 'Сетьстрой',
 'StMichael',
 'Sezar Group',
 'Legenda Intelligent Development',
 'Т Отель',
 'ТОЧНО',
 'Dominanta',
 'Ин-Групп',
 'Энергостройинвест',
 'Корпорация ВИТ',
 'Старт СК',
 'Новое время',
 'УЭЗ',
 'Талан',
 'Фобос',
 'ЮИТ',
 'Ташир',
 'Главградострой',
 'SDI Group',
 'Юасстрой',
 'Стройконтинент',
 'Лидер Групп',
 'Рос Евро Сити',
 'РК-Газсетьсервис Коломна',
 'Стройка Плюс',
 'Иммо Девелопмент',
 'Глобал Инвест',
 'Apsis Globe',
 'Легион Девелопмент',
 'Веста Групп',
 'Ферро-Строй',
 'Гефест',
 'ГК Монолит',
 'Тройка Плюс',
 'Троицкжилстрой',
 'САС Инвест',
 'Агрострой',
 'Элемент',
 'Стройинновация',
 'G3 Group',
 'Optima Development',
 'Capital Group',
 'Техноолимпстрой',
 'OM Development',
 'Остов',
 'Ингеоком',
 'Квартал А',
 'Аверус',
 'Стройтэкс',
 'Капиталстрой',
 'Капитал',
 'Plato Development',
 'October Group',
 'Сходня 10 ЖСК',
 'СПСИТИ',
 'Атлант',
 'SIS Development',
 'Baza Development',
 'СЗ Доходный дом',
 'Сияние',
 'Павлово Парк',
 'Metrofond',
 'Coldy',
 'Стройтек',
 'Сумма элементов',
 'Партнерство',
 'Иристон',
 'Каравелла',
 'Sense',
 'Uniq Development',
 'Sunterra',
 'Берендей',
 'Строймир',
 'Ziggurat Development',
 'ВЭМЗ-Эстейт',
 'Мега Мечта',
 'Gorn Development',
 'Stenoy',
 'Vesper',
 'IQ Estate',
 'Vesta Development',
 'VosHod',
 'Стимул',
 'Консоль',
 'Эталон (проекты Лидер Инвест)',
 'СФД',
 'Трансфорт',
 'Magnum Development',
 'Архитектор',
 'Гранд МО',
 'НПО Машиностроения',
 'Выбор',
 'М.О.Д.',
 'Мегалит',
 'ТКС',
 'Волжский ДСК',
 'Сити XXI век',
 'Touch',
 'Новая жизнь',
 'Финтрастойл',
 'Ant Development',
 'Glorax',
 'Союзцветавтоматика',
 'Главмособлстрой',
 'Инвестиционный департамент',
 'Белстрой',
 'Прайм',
 'Р Инвест',
 'Hutton Development',
 'Author Development',
 'Patek',
 'Self',
 'Топаз',
 'AB Development',
 'Sawatsky',
 'Киноцентр',
 'Межрегионстрой',
 'ЦентрСтрой',
 'Balchug Estate',
 'Арс',
 'Березовец',
 'Александрия',
 'СЗ Вэллби',
 'ВВК-XXI',
 'Seven Suns Development',
 'Корпорация КОШЕЛЕВ',
 'СЗ Звездный',
 'СМУ 29',
 'Sun Development',
 'Меркон',
 'Замитино',
 'Rariteco',
 'Стройспецмонтаж',
 'Холмы',
 'Новый город',
 'Русстрой',
 'Экран',
 'ГК ПЖИ',
 'ЭХО',
 'Gravion',
 'Primacom',
 'Е-Инвест',
 'АМ Девелопмент',
 'Строительный трест 10',
 'KR Properties',
 'R4S',
 'ВСК Инвест',
 'Гута',
 'Казачий торговый дом',
 'Атлантис Одинцово',
 'Прима Мех',
 'Мир-Девелопмент',
 'Engeo Development',
 'Palladio Group',
 'Бэсткон',
 'Инвестстройрегион',
 'ПСТ',
 'СК Олимпийский 10',
 nan,
 'Applied filters:\nkpi is Кол-во (шт)\nДата регистрации (год) is 2024 or 2025\nТип помещения is апартамент or квартира\nКупил лотов в ЖК is 0, 1, or 2\nПокупатель ЮЛ is \nТип помещения is not \nУступка is 0']

In [8]:
df2 = pd.read_excel(r"C:\Users\m.olshanskiy\Desktop\16012026_Продажи застройщиков.xlsx", sheet_name='массив')

In [9]:
def format_col(col):
    if isinstance(col, (pd.Timestamp, datetime.datetime)):
        return f"{months_ru[col.month]}.{str(col.year)[-2:]}"
    return col

df2.columns = [format_col(col) for col in df2.columns]

In [10]:
# Проверяем результат
print(df2.columns.tolist())

['Застройщик', 'Регион', 'Название ЖК', 'янв.25', 'фев.25', 'мар.25', 'апр.25', 'май.25', 'июн.25', 'июл.25', 'авг.25', 'сен.25', 'окт.25', 'ноя.25', 'дек.25']

In [11]:
region_order = ['Total', 'Москва', 'Новая Москва', 'Московская область']

In [12]:
df2['Застройщик'] = pd.Categorical(df2['Застройщик'], categories=developers, ordered=True)
df2['Регион'] = pd.Categorical(df2['Регион'], categories=region_order, ordered=True)
df_sorted = df2.sort_values(['Застройщик', 'Регион']).reset_index(drop=True)

ValueError: Categorical categories cannot be null

In [15]:
pd.isna(developers).sum()

np.int64(1)

In [14]:
pd.isna(region_order).sum()

np.int64(0)

In [23]:
df_sorted

,Застройщик,Регион,Название ЖК,"Среднее за 2024 г., шт",янв.25,фев.25,мар.25,апр.25,май.25,июн.25,июл.25,авг.25,сен.25,окт.25,ноя.25,"Среднее за 2025 г., шт"
0,ПИК,Total,NaN,2017.750000,3049.0,4415.0,3771.0,3101.0,1622.0,1549.0,1859.0,1555.0,1588.0,1776.0,1717.0,2363.818182
1,ПИК,Москва,Total,1259.000000,1331.0,1896.0,1540.0,1446.0,888.0,942.0,1085.0,934.0,864.0,904.0,967.0,1163.363636
2,ПИК,Москва,Бусиновский парк,112.909091,128.0,209.0,146.0,134.0,104.0,103.0,79.0,89.0,43.0,43.0,30.0,100.727273
3,ПИК,Москва,Люблинский парк,94.500000,32.0,56.0,59.0,11.0,1.0,94.0,122.0,103.0,75.0,78.0,55.0,62.363636
4,ПИК,Москва,Москворечье,97.666667,106.0,203.0,226.0,155.0,58.0,54.0,35.0,37.0,27.0,23.0,56.0,89.090909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,ПСТ,Московская область,Три квартала,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094,СК Олимпийский 10,Total,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1095,СК Олимпийский 10,Москва,Total,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,СК Олимпийский 10,Москва,Соле Хиллс,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,NaN,NaN,NaN,10672.416667,9376.0,12361.0,11169.0,10624.0,8425.0,8563.0,10440.0,10342.0,11179.0,13687.0,14099.0,10933.181818

In [24]:
# Пусть df_sorted — это уже отсортированная таблица

# Список уникальных застройщиков в порядке сортировки
for dev in df_sorted['Застройщик'].unique():
    temp = df_sorted[df_sorted['Застройщик'] == dev]
    
    # Добавляем строку-шапку
    header_row = pd.DataFrame([df_sorted.columns], columns=df_sorted.columns)
    df2.columns = [format_col(col) for col in df2.columns]
    
    
    # Добавляем в общий DataFrame: сначала шапку, потом блок застройщика
    df_sorted = pd.concat([df_out, header_row, temp], ignore_index=True)

NameError: name 'df_out' is not defined

In [25]:
# --- 3. Сохраняем в Excel ---
output_file = r"C:\Users\m.olshanskiy\Desktop\Продажи отсортированные3.xlsx"
df_sorted.to_excel(output_file, index=False)

# --- 4. Объединяем ячейки в Excel ---
wb = load_workbook(output_file)
ws = wb.active

# Функция объединения одинаковых подряд ячеек в столбце
def merge_identical_cells(column_idx):
    start = 2  # пропускаем заголовок
    current_value = ws[f"{get_column_letter(column_idx)}{start}"].value
    for row in range(3, ws.max_row + 2):
        cell_value = ws[f"{get_column_letter(column_idx)}{row}"].value
        if cell_value != current_value:
            if row - start > 1 and current_value is not None:
                ws.merge_cells(start_row=start, start_column=column_idx,
                               end_row=row - 1, end_column=column_idx)
                ws[f"{get_column_letter(column_idx)}{start}"].alignment = Alignment(
                    vertical="center", horizontal="center")
            start = row
            current_value = cell_value

# Объединяем ячейки по столбцам: 1 — Застройщик, 2 — Регион
merge_identical_cells(1)
merge_identical_cells(2)
merge_identical_cells(3)

wb.save(output_file)
print("✅ Готово! Ячейки объединены и выровнены по центру.")

✅ Готово! Ячейки объединены и выровнены по центру.