In [1]:
import pandas as pd
import numpy as np
import psycopg2
import time

In [104]:
# localhost

try:
    # пытаемся подключиться к базе данных
    conn = psycopg2.connect('postgresql://postgres:ndv212XO@localhost:5432/postgres')
    print('Подключились к базе данных')
except:
    # в случае сбоя подключения будет выведено сообщение в STDOUT
    print('Ошибка подключения к базе данных')

Подключились к базе данных

In [105]:
project = "'Митинский лес'"
year = 2025
month = 8

In [143]:
sql_query = f"""
WITH
prev_year AS (
        SELECT COUNT(id_jk) AS val
        FROM pipin
        WHERE jk_rus = 'Митинский лес'
        AND extract(YEAR from data_registratsii) = 2024
        AND extract(MONTH from data_registratsii) = 8
),
prev_month AS (
        SELECT COUNT(id_jk) AS val
        FROM pipin
        WHERE jk_rus = 'Митинский лес'
        AND extract(YEAR from data_registratsii) = 2025
        AND extract(MONTH from data_registratsii) = 7
),
now AS (
    SELECT COUNT(id_jk) AS val
        FROM pipin
        WHERE jk_rus = 'Митинский лес'
        AND extract(YEAR from data_registratsii) = 2025
        AND extract(MONTH from data_registratsii) = 8
)

SELECT
    prev_year.val  AS prev_year,
    prev_month.val AS prev_month,
	now.val        AS now,
	(now.val::numeric / prev_year.val - 1) AS year_to_year,
	(now.val::numeric / prev_month.val - 1) AS month_to_month

FROM now, prev_month, prev_year;
"""

In [151]:
sql_query2 = f"""
WITH
prev_year AS (
        SELECT round((sum(price_total_discounted) / sum(area_sqm)) / 1000, 1) AS val
        from ndv.ndv_data
        WHERE project_name = 'Митинский лес'
		and extract(year from update_date) = 2024
		and extract(month from update_date) = 8
),
prev_month AS (
        SELECT round((sum(price_total_discounted) / sum(area_sqm)) / 1000, 1) AS val
        from ndv.ndv_data
        WHERE project_name = 'Митинский лес'
		and extract(year from update_date) = 2025
		and extract(month from update_date) = 7
),
now AS (
        SELECT round((sum(price_total_discounted) / sum(area_sqm)) / 1000, 1) AS val
        from ndv.ndv_data
        WHERE project_name = 'Митинский лес'
		and extract(year from update_date) = 2025
		and extract(month from update_date) = 8
)

SELECT
    prev_year.val  AS prev_year,
    prev_month.val AS prev_month,
	now.val        AS now,
	(now.val::numeric / prev_year.val - 1) AS year_to_year,
	(now.val::numeric / prev_month.val - 1) AS month_to_month

FROM now, prev_month, prev_year;
"""

In [150]:
sql_query3 = f"""
WITH
prev_year AS (SELECT round(AVG(area_sqm), 3) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2024
			and extract(MONTH from update_date) = 8
),
prev_month AS (SELECT round(AVG(area_sqm), 3) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2025
			and extract(MONTH from update_date) = 7
),
now AS ( SELECT round(AVG(area_sqm), 3) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2025
			and extract(MONTH from update_date) = 8
)

SELECT
    prev_year.val  AS prev_year,
    prev_month.val AS prev_month,
	now.val        AS now,
	(now.val::numeric / prev_year.val - 1) AS year_to_year,
	(now.val::numeric / prev_month.val - 1) AS month_to_month

FROM now, prev_month, prev_year;
"""

In [149]:
sql_query4 = f"""
WITH
prev_year AS (SELECT round(AVG(price_total_discounted) / 1000000, 1) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2024
			and extract(MONTH from update_date) = 8
),
prev_month AS (SELECT round(AVG(price_total_discounted) / 1000000, 1) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2025
			and extract(MONTH from update_date) = 7
),
now AS ( SELECT round(AVG(price_total_discounted)/ 1000000, 1) as val
			from ndv.ndv_data
			WHERE project_name = 'Митинский лес'
			and extract(YEAR from update_date) = 2025
			and extract(MONTH from update_date) = 8
)

SELECT
    prev_year.val  AS prev_year,
    prev_month.val AS prev_month,
	now.val        AS now,
	(now.val::numeric / prev_year.val - 1) AS year_to_year,
	(now.val::numeric / prev_month.val - 1) AS month_to_month

FROM now, prev_month, prev_year;
"""

In [162]:
sql_query5 = f"""
WITH
prev_year AS (SELECT (
SELECT COUNT(id_jk)
from pipin
WHERE jk_rus = 'Митинский лес'
and extract(YEAR from data_registratsii) = 2024
and extract(MONTH from data_registratsii) = 8
and ipoteka = 1
)::numeric / COUNT(id_jk) AS val
			from pipin
			WHERE jk_rus = 'Митинский лес'
			and extract(YEAR from data_registratsii) = 2024
			and extract(MONTH from data_registratsii) = 8

),
prev_month AS (SELECT (
SELECT COUNT(id_jk)
from pipin
WHERE jk_rus = 'Митинский лес'
and extract(YEAR from data_registratsii) = 2025
and extract(MONTH from data_registratsii) = 7
and ipoteka = 1
)::numeric / COUNT(id_jk) AS val
			from pipin
			WHERE jk_rus = 'Митинский лес'
			and extract(YEAR from data_registratsii) = 2025
			and extract(MONTH from data_registratsii) = 7
),
now AS ( SELECT (
SELECT COUNT(id_jk)
from pipin
WHERE jk_rus = 'Митинский лес'
and extract(YEAR from data_registratsii) = 2025
and extract(MONTH from data_registratsii) = 8
and ipoteka = 1
)::numeric / COUNT(id_jk) AS val
			from pipin
			WHERE jk_rus = 'Митинский лес'
			and extract(YEAR from data_registratsii) = 2025
			and extract(MONTH from data_registratsii) = 8
)

SELECT
    prev_year.val  AS prev_year,
    prev_month.val AS prev_month,
	now.val        AS now,
	(now.val - prev_year.val) AS year_to_year,
	(now.val - prev_month.val) AS month_to_month

FROM now, prev_month, prev_year;
"""

In [163]:
pd.set_option("display.float_format", "{:.2f}".format)
chars = [
    "Кол-во,шт.",
    "СВЦ, тыс. руб.",
    "Средняя площадь, кв.м",
    "Средняя цена, млн руб.",
    "Доля ипотеки,%"
]
df = pd.read_sql(sql_query, conn)
df2 = pd.read_sql(sql_query2, conn)
df3 = pd.read_sql(sql_query3, conn)
df4 = pd.read_sql(sql_query4, conn)
df5 = pd.read_sql(sql_query5, conn)
result = pd.concat([df, df2, df3, df4, df5], ignore_index=True)
result.insert(0, "Характеристика", chars)
result.columns = ["Митинский лес", "авг.24", "июл.25", "авг.25", "год/год", "мес/мес"]


print(result)

C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12296\3569517655.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)
C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12296\3569517655.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql(sql_query2, conn)
C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12296\3569517655.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3 = pd.read_sql(sql_query3, conn)
C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12296\3569517655.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql(sql_query4, conn)
C:\Users\m.olshanskiy\AppData\Local\Temp\ipykernel_12296\3569517655.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df5 = pd.read_sql(sql_query5, conn)

            Митинский лес  авг.24  июл.25  авг.25  год/год  мес/мес
0              Кол-во,шт.   44.00   50.00   54.00     0.23     0.08
1          СВЦ, тыс. руб.  303.60  316.00  304.30     0.00    -0.04
2   Средняя площадь, кв.м   47.30   39.70   42.83    -0.09     0.08
3  Средняя цена, млн руб.   14.40   12.50   13.00    -0.10     0.04
4          Доля ипотеки,%    0.48    0.80    0.78     0.30    -0.02

In [164]:
# сохраняем в Excel
with pd.ExcelWriter("result.xlsx", engine="xlsxwriter") as writer:
    result.to_excel(writer, sheet_name="Данные", index=False)

    workbook  = writer.book
    worksheet = writer.sheets["Данные"]

    # формат процентов
    percent_fmt = workbook.add_format({"num_format": "0.0%"})

    # применяем только к столбцам "год/год" и "мес/мес"
    col_idx_year = result.columns.get_loc("год/год")
    col_idx_month = result.columns.get_loc("мес/мес")

    worksheet.set_column(col_idx_year, col_idx_year, 12, percent_fmt)
    worksheet.set_column(col_idx_month, col_idx_month, 12, percent_fmt)

    # применяем форматирование к строке "Доля ипотеки,%"
    row_idx_ipoteka = result.index[result["Митинский лес"] == "Доля ипотеки,%"][0] + 1  # +1 из-за заголовка
    worksheet.set_row(row_idx_ipoteka, None, percent_fmt)